founderstack/founderstack-actions.json
{
  "name": "founderstack-actions",
  "nodes": [
    {
      "parameters": {
        "jsCode": "/**\n * Converts a JSON value to a token-efficient shorthand (TOON-style).\n * Strips quotes, uses simple indentation, and flattens structures.\n */\nfunction toTOON(val, indent = 0) {\n  const pad = ' '.repeat(indent);\n  \n  if (Array.isArray(val)) {\n    if (val.length === 0) return '[]';\n    return val.map(item => `\\n${pad}- ${toTOON(item, indent + 2)}`).join('');\n  }\n  \n  if (val !== null && typeof val === 'object') {\n    return Object.entries(val)\n      .filter(([_, v]) => v !== null && v !== undefined) // Skip nulls to save more tokens\n      .map(([k, v]) => `\\n${pad}${k}: ${toTOON(v, indent + 2)}`)\n      .join('');\n  }\n  \n  return String(val);\n}\n\n// Map through all incoming items from the previous n8n node\nreturn items.map(item => {\n  return {\n    json: {\n      toon_output: toTOON(item.json).trim()\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        -496
      ],
      "id": "c6463e55-3a99-4769-846a-5eaf549af8c6",
      "name": "toon conv1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8ae72478-6af2-4a7e-8af7-2360e79dfd10",
                    "leftValue": "={{ $json.tool }}",
                    "rightValue": "get_person",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tool }}",
                    "rightValue": "create_person",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1f3fa645-9524-48e1-81d9-886ddbdbb2cf"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b502b9a3-1e86-4e4b-989b-71712fd1c743",
                    "leftValue": "={{ $json.tool }}",
                    "rightValue": "update_person",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "943aad49-3e7a-451c-a72c-8ec44c02d8fb",
                    "leftValue": "={{ $json.tool }}",
                    "rightValue": "query_people",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9edea7e7-765c-4646-8276-fcbe10d31d0b",
                    "leftValue": "={{ $json.tool }}",
                    "rightValue": "add_tasks_or_notes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b59a668f-3b79-4625-a67a-987a969b77ca",
                    "leftValue": "={{ $json.tool }}",
                    "rightValue": "query_then_actions",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ce8a5097-a8a5-4359-98d0-90fee0c64206",
                    "leftValue": "={{ $json.tool }}",
                    "rightValue": "send_break_msg",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -16,
        -176
      ],
      "id": "c3da1d60-b859-4aef-899b-a86b9252ba40",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Converts a JSON value to a token-efficient shorthand (TOON-style).\n * Strips quotes, uses simple indentation, and flattens structures.\n */\nfunction toTOON(val, indent = 0) {\n  const pad = ' '.repeat(indent);\n  \n  if (Array.isArray(val)) {\n    if (val.length === 0) return '[]';\n    return val.map(item => `\\n${pad}- ${toTOON(item, indent + 2)}`).join('');\n  }\n  \n  if (val !== null && typeof val === 'object') {\n    return Object.entries(val)\n      .filter(([_, v]) => v !== null && v !== undefined) // Skip nulls to save more tokens\n      .map(([k, v]) => `\\n${pad}${k}: ${toTOON(v, indent + 2)}`)\n      .join('');\n  }\n  \n  return String(val);\n}\n\n// Map through all incoming items from the previous n8n node\nreturn items.map(item => {\n  return {\n    json: {\n      toon_output: toTOON(item.json).trim()\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        624
      ],
      "id": "074ac0d2-d650-446f-b886-3f1402c8460e",
      "name": "toon conv"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Converts a JSON value to a token-efficient shorthand (TOON-style).\n * Strips quotes, uses simple indentation, and flattens structures.\n */\nfunction toTOON(val, indent = 0) {\n  const pad = ' '.repeat(indent);\n  \n  if (Array.isArray(val)) {\n    if (val.length === 0) return '[]';\n    return val.map(item => `\\n${pad}- ${toTOON(item, indent + 2)}`).join('');\n  }\n  \n  if (val !== null && typeof val === 'object') {\n    return Object.entries(val)\n      .filter(([_, v]) => v !== null && v !== undefined) // Skip nulls to save more tokens\n      .map(([k, v]) => `\\n${pad}${k}: ${toTOON(v, indent + 2)}`)\n      .join('');\n  }\n  \n  return String(val);\n}\n\n// Map through all incoming items from the previous n8n node\nreturn items.map(item => {\n  return {\n    json: {\n      toon_output: toTOON(item.json).trim()\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3936,
        -48
      ],
      "id": "8bf9dde6-8d9c-417c-bb25-74dfec0bf1e8",
      "name": "to TOON"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Converts a JSON value to a token-efficient shorthand (TOON-style).\n * Strips quotes, uses simple indentation, and flattens structures.\n */\nfunction toTOON(val, indent = 0) {\n  const pad = ' '.repeat(indent);\n  \n  if (Array.isArray(val)) {\n    if (val.length === 0) return '[]';\n    return val.map(item => `\\n${pad}- ${toTOON(item, indent + 2)}`).join('');\n  }\n  \n  if (val !== null && typeof val === 'object') {\n    return Object.entries(val)\n      .filter(([_, v]) => v !== null && v !== undefined) // Skip nulls to save more tokens\n      .map(([k, v]) => `\\n${pad}${k}: ${toTOON(v, indent + 2)}`)\n      .join('');\n  }\n  \n  return String(val);\n}\n\n// Map through all incoming items from the previous n8n node\nreturn items.map(item => {\n  return {\n    json: {\n      toon_output: toTOON(item.json).trim()\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        400
      ],
      "id": "065385c2-78fc-4ca6-ac89-ba8d16108de6",
      "name": "to TOON1"
    },
    {
      "parameters": {
        "chatId": "-1003131045565",
        "text": "={{ $json.formattedMessage }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -592,
        2192
      ],
      "id": "6ce3acbf-72d7-4d98-9b2d-ed68c4f0c9ef",
      "name": "Send a text message",
      "webhookId": "aa7fc313-a00c-4853-bf60-4bdfbf6ca5dc",
      "credentials": {
        "telegramApi": {
          "id": "R383r4gwXkG6Qwzo",
          "name": "FounderStack"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  try {\n    const data = item.json.body;\n    const props = data.properties || {};\n    \n    // 1. Start header with Status and Confidence\n    let headerLines = [\n      `Status: ${data.status || 'Unknown'}`,\n      `Confidence: ${(data.confidence * 100).toFixed(0)}%`\n    ];\n\n    // 2. Scan properties ONLY for URLs to put in the quote\n    for (const [key, value] of Object.entries(props)) {\n      if (typeof value === 'string' && value.startsWith('http')) {\n        // Clean up key names (e.g., \"Notion_URL\" becomes \"Notion URL\")\n        const cleanKey = key.replace(/_/g, ' ');\n        headerLines.push(`${cleanKey}: <a href=\"${value}\">View</a>`);\n      }\n    }\n\n    // 3. Handle Failure Reason (Italics)\n    let reasonSection = \"\";\n    if (data.reason && data.reason.trim() !== \"\") {\n      reasonSection = `\\n\\n<i>${data.reason}</i>`;\n    }\n\n    // 4. Combine into final Telegram format\n    const finalMessage = `<blockquote>${headerLines.join('\\n')}</blockquote>\n\n${data.message || ''}${reasonSection}`;\n\n    item.json.formattedMessage = finalMessage;\n\n  } catch (e) {\n    item.json.formattedMessage = `Error formatting message: ${e.message}`;\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        2192
      ],
      "id": "611093a1-9d96-4478-92e5-0bd910fc34d3",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9668c89e-aa2e-4812-abac-b18cf847ca8c",
              "leftValue": "={{ $json.body.tool }}",
              "rightValue": "send_final_msg",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1120,
        2192
      ],
      "id": "ba3b8ae6-8f91-437b-aeec-b500d9b46052",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message?.text || $json.segments?.[0]?.text || $json.content?.parts[0]?.text }}",
        "options": {
          "systemMessage": "=You are the **Primary CRM Planner**.\n\nYour job is to:\n1. Understand the user’s intent\n2. Decide which tool should be used\n3. Prepare the initial payload with all relevant entities (Person, Company, Tasks, Notes)\n\nYou do NOT:\n* Guess IDs\n* Claim success\n* Resolve ambiguous records\n* Talk directly to the user\n\n---\n\n### Your Tools\n1. **`get_person`**: Use when a specific ID is provided to fetch a full profile including full detailed about the related company, notes and tasks.\n2. **`create_person`**: Use when the user introduces someone new.\n3. **`query_people`**: Use when the user asks a question about existing contacts, the tool will return the core info about the people and thier related companies [id, name fields only], without the realted notes and tasks.\n4. **`update_person`**: Use when the user provides new info about an existing contact.\n5. **`add_tasks_or_notes`**: Use when the user wanna add a new tasks or notes to an existing person and the user provided the person id.\n6. **`query_then_actions`**: Use when you need to get the ID to update or retrieve a specific person or related fields. the actions is one or a set of the tools.\n7. **`send_break_msg`**: Use when you wanna break and not call any tool to send the user a msg, because you're not confident enough.\n\n### Hard Rules\n* If the user wants to **retrieve info about a person** like *id, phone, location... for the person*  **and/or the person's comapny name, or id** and **no ID is provided**:\n  * Call the `query_people` tool\n  * if the user wnat more completed info about the person's company, tasks, or notes; call `query_then_actions` tool; where the action is the `get_person` tool.\n* If the user wants to **update or retrieve or add a new realted field (like tasks or notes) to existing person** and **no ID is provided**:\n  * You MUST NOT call `update_person` or `get_person` or `add_tasks_or_notes`\n  * You MUST route to the **`query_then_actions` composite tools**\n* If an ID **is provided**, you may call direct tools.\n* Never hallucinate a `person_id`.\n* If confidence ≤ 0.7 → use `send_break_msg`.\n* `query_people` & `create_person` tools does NOT need an ID to run\n\n---\n\n### Tool Routing Logic\n\n* New person → `create_person`\n* Ask a question / find → `query_people`\n* Update + ID present → `update_person`\n* Get + ID present → `get_person`\n* Update / get / add tasks or notes without ID → **`query_then_actions` composite tools**\n\n---\n\n### Output Format\n\nReturn **raw JSON only**, matching one of the tools with the payload.\n\n---\n\n### TOOLS DOCS\n\n## Database Schema (Fields)\n\n### Core (Person)\n* **name: (Required)** The full name of the person.\n* **email**: Professional or personal email address.\n* **phone**: Contact phone number.\n* **job_title**: Their current role.\n* **city**: Current city or region.\n* **linkedin**: URL to their LinkedIn profile.\n* **conversion_rate**: Numerical value (0-100) representing probability.\n* **stage**: Current stage in the pipeline (e.g. Lead, Qualified).\n* **lead_type**: Type of lead (e.g. Prospect, Client).\n* **lead_source**: Whether the lead is Inbound or Outbound.\n* **last_action**: Description of the last action taken.\n* **recommended_action**: Suggested next action.\n* **created_by**: User who created this person record.\n\n### Company\n* **name: (Required for new companies)** Company name.\n* **domain**: e.g., \"google.com\".\n* **employees**: Number of employees (string).\n* **location**: Office location.\n* **linkedin**: Company LinkedIn URL.\n* **arr**: Annual Recurring Revenue (e.g., \"$1M\").\n* **icp**: Boolean (Ideal Customer Profile match).\n\n### Tasks\n* **title: (Required)** Task title.\n* **description**: Detailed description.\n* **status**: Options: \"Todo\", \"In Progress\", \"Done\".\n* **due_date**: ISO 8601 (YYYY-MM-DD).\n\n### Notes / Activities\n* **title**: Brief summary of the note or activity.\n* **content**: Full text/body.\n* **type**: Activity type (note, email, call, meeting, linkedin_msg, whatsapp_msg).\n* **date**: ISO 8601 (YYYY-MM-DD).\n\n---\n\n## Tool Definitions\n\n### `get_person`\nTrigger: Retrieve specific profile details via UUID.\n{\n  \"tool\": \"get_person\",\n  \"person_id\": \"UUID\",\n  \"confidence\": 1.0,\n  \"message\": \"Fetching profile for [ID]\"\n}\n\n### `create_person`\nTrigger: New contact entry.\n{\n  \"tool\": \"create_person\",\n  \"confidence\": 0.98,\n  \"fields\": {\n    \"core\": {\n      \"name\": \"Jane Doe\",\n      \"email\": \"jane@example.com\",\n      \"stage\": \"Qualified\"\n    },\n    \"company\": {\n      \"name\": \"Acme Corp\",\n      \"domain\": \"acme.com\"\n    },\n    \"notes\": [\n      { \"title\": \"Initial Meet\", \"content\": \"Met at conference.\", \"type\": \"note\" }\n    ],\n    \"tasks\": [\n      { \"title\": \"Follow up\", \"status\": \"Todo\", \"due_date\": \"2026-02-10\" }\n    ]\n  },\n  \"message\": \"Payload prepared for Jane Doe and associated entities.\"\n}\n\n#### Master Payload (Create)\n{\n  \"fields\": {\n    \"core\": {\n      \"name\": \"Ahmed Ali\",\n        \"email\": \"ahmed@example.com\",\n        \"phone\": \"09877666\",\n        \"job_title\": \"founder\",\n        \"city\": null,\n        \"linkedin\": \"https://liknkeidn.cpm\",\n        \"conversion_rate\": 80,\n        \"stage\": \"Qualified\",\n        \"lead_type\": \"Prospect\",\n        \"lead_source\": \"Outbound\",\n        \"last_action\": \"this is alst caticon\",\n        \"recommended_action\": null\n    },\n    \"company\": {\n      \"name\": \"Velocity Tech\",\n      \"domain\": \"velocity.tech\",\n      \"employees\": \"50-200\",\n      \"location\": \"Austin, TX\",\n      \"icp\": true\n    },\n    \"notes\": [\n      {\n        \"title\": \"Networking Event\",\n        \"content\": \"Met at Tech Mixer; discussed AI integration.\",\n        \"type\": \"note\"\n      }\n    ],\n    \"tasks\": [\n      {\n        \"title\": \"Send Welcome Email\",\n        \"status\": \"Todo\",\n        \"due_date\": \"2026-02-04\"\n      }\n    ]\n  }\n}\n\n### `query_people`\nTrigger: \"Find Omar in Dubai\" or \"Who are my warm leads?\"\n{\n  \"tool\": \"query_people\",\n  \"confidence\": 1.0,\n  \"filters\": {\n    \"search\": \"omar\",\n    \"city__icontains\": \"dubai\",\n    \"lead_type__icontains\": \"warm lead\"\n  },\n  \"message\": \"Searching for contacts matching your criteria...\"\n}\n\n#### Master Payload Docs\nUse the `search` parameter to perform a \"fuzzy\" match across multiple fields (Name, Email, Job Title, etc.).\nYou can filter by specific fields using suffixes:\n- Partial Match (`__icontains`)\n`name__icontains=adm`\n*Matches: \"Admin\", \"Ahmad\", \"Roadman\"*\n\n- Numeric/Date Filters\n*   `__gt`: Greater than\n*   `__lt`: Less than\n*   `__gte`: Greater than or equal\n*   `__lte`: Less than or equal\n\n\n### `update_person`\nTrigger: \"Update Omar's company or update omar stage\"\n{\n  \"tool\": \"update_person\",\n  \"person_id\": \"UUID_FROM_CONTEXT\",\n  \"confidence\": 0.9,\n  \"fields\": {\n    \"core\": { \"stage\": \"Negotiation\" },\n    \"company\": { \"name\": \"New Company Ltd\" }\n  },\n  \"message\": \"Updating Omar [Fields]\"\n}\n\n#### Master Payload (Update)\n{\n  \"fields\": {\n    \"core\": {\n      \"job_title\": \"CEO\",\n      \"conversion_rate\": 95\n    },\n    \"company\": {\n      \"arr\": \"$2M\",\n      \"icp\": true\n    }\n  }\n}\n\n### `add_tasks_or_notes`\nTrigger: \"add a new tasks to Omar\", \"add new notes to Omar\"\n{\n  \"tool\": \"add_tasks_or_notes\",\n  \"confidence\": 1.0,\n  \"fields\": {\n    \"notes\": [\n      {\n        \"title\": \"Promotion\",\n        \"content\": \"Updated role to CEO after recent news.\",\n        \"type\": \"update\"\n      }\n    ],\n    \"tasks\": [\n      {\n        \"title\": \"Book celebratory dinner\",\n        \"due_date\": \"2026-02-15\",\n        \"status\": \"Todo\"\n      }\n    ]\n  },\n  \"message\": \"Searching for contacts matching your criteria...\"\n}\n\n### `query_then_actions\n`\nTrigger: Use when UUID is missing. the tool can make multiple actions\n\n{\n  \"tool\": \"query_then_actions\",\n  \"confidence\": 1.0,\n  \"query_payload\": { \"search\": \"omar gatara\" },\n  \"actions\": [\n    {\n      \"tool_name\": \"update_person\",\n      \"payload\": {\n        \"fields\": {\n          \"core\": { \"stage\": \"Negotiation\" },\n          \"company\": { \"name\": \"New Company Ltd\" }\n        }\n      }\n    },\n    {\n      \"tool_name\": \"add_tasks_or_notes\",\n      \"payload\": {\n        \"tasks\": [\n          {\n            \"title\": \"Book celebratory dinner\",\n            \"description\": \"description if any\",\n            \"status\": \"Todo\",\n            \"due_date\": \"2026-02-11\"\n          }\n        ],\n        \"notes\": [\n          {\n            \"title\": \"Promotion\",\n            \"content\": \"Updated role to CEO after recent news.\",\n            \"type\": \"note\",\n            \"date\": \"2026-02-10\"\n          }\n        ]\n      }\n    }\n  ],\n  \"message\": \"Searching for [Person] to do the [Actions]\"\n}\n\n#### You need to respect each action tool's payload rules.\n\n### `send_break_msg`\nTrigger: when you dont wnana call any tool because lack of confidence or unclear request from the user.\n{\n  \"tool\": \"send_break_msg\",\n  \"status\": \"Failure\",\n  \"confidence\": 0.4,\n  \"message\": \"⚠️ message ro feedback for the user about his msg\",\n  \"reason\": \"the reason\"\n}\n\n---\n\n#### Final NOTES\n- For all Dates; STRICT: Use ISO 8601 (YYYY-MM-DD).\n- Today's Date is {{ $now.toFormat('yyyy-MM-dd') }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1120,
        -112
      ],
      "id": "54dafb69-d571-47f5-9f91-8b37eedb4d61",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1072,
        208
      ],
      "id": "cfb58ae3-aa44-4431-9841-74d8612116a8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TppyipaFrqXqvcLE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "moonshotai/kimi-k2-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1248,
        208
      ],
      "id": "584525e0-1708-46bf-aa3c-361841370a12",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "VqxrwHahgVrPESe1",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        1488
      ],
      "id": "91fa0232-2288-4e45-a147-92f67470e8c3",
      "name": "get important values1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "/**\n * Converts a JSON value to a token-efficient shorthand (TOON-style).\n * Strips quotes, uses simple indentation, and flattens structures.\n */\nfunction toTOON(val, indent = 0) {\n  const pad = ' '.repeat(indent);\n  \n  if (Array.isArray(val)) {\n    if (val.length === 0) return '[]';\n    return val.map(item => `\\n${pad}- ${toTOON(item, indent + 2)}`).join('');\n  }\n  \n  if (val !== null && typeof val === 'object') {\n    return Object.entries(val)\n      .filter(([_, v]) => v !== null && v !== undefined) // Skip nulls to save more tokens\n      .map(([k, v]) => `\\n${pad}${k}: ${toTOON(v, indent + 2)}`)\n      .join('');\n  }\n  \n  return String(val);\n}\n\n// Map through all incoming items from the previous n8n node\nreturn items.map(item => {\n  return {\n    json: {\n      toon_output: toTOON(item.json).trim()\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        1488
      ],
      "id": "c6d34899-e733-4a09-b876-c9d1c68d085d",
      "name": "toon conv2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User: {{ $json.usr_message?.text || $json.text }}\nCalled Tool Name: {{ $json.tool_called }}\nTool Output: {{ $json.toon_output }}\n\nRequesting permition to call the following tools: \n{{ \n  $json.actions.map(action => \"- \" + action.tool_name).join('\\n')\n}}\n\nPayload for each tool in the same order: \n{{ \n  $json.actions.map(action => \"\" + JSON.stringify(action.payload, null, 2)).join('\\n\\n')\n}}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are the **CRM Entity Resolver**.\n\nYou receive:\n* The original user request\n* Query results from the CRM\n\nYour job is to decide whether it is safe to proceed.\n\n---\n\n### Hard Rules (VERY IMPORTANT)\n\n* You DO NOT execute tools directly.\n* You DO NOT modify data.\n* You ONLY decide **one of these outcomes**:\n\n  1. Execute with resolved ID\n  2. Refuse to execute (with reason)\n\n---\n\n### PRACTICAL MATCHING GUIDELINES\nWhen evaluating matches, apply real-world human logic:\n\n##### Name Matching (Be Flexible)\n- Allow for common spelling variations (Abdulalh/Abdallah, John/Jon, Steven/Stephen)\n- Allow for phonetic similarity (Katrina/Catrina, Sean/Shawn)\n- Allow for case-insensitive matching (abdulalh/Abdallah)\n- Allow for missing or extra spaces/middle initials\n- Consider nickname variations (William/Bill, Robert/Bob, Richard/Dick)\n\n### Decision Criteria (Be Flexible)\nYou may consider:\n* Name similarity\n* Company match\n* Job title relevance\n* Context alignment\n* Recency of last contact\n\n---\n\n### Allowed Decisions\n\nYou must return **one and only one** of the following:\n\n{\n  \"decision\": \"execute\",\n  \"confidence\": 0.82,\n  \"person_id\": \"resolved-person-id\",\n  \"reason\": \"Strong name + company + role match\"\n}\n\nOR\n\n{\n  \"decision\": \"refuse\",\n  \"confidence\": 0.45,\n  \"reason\": \"Multiple similar names, insufficient context to disambiguate safely\"\n}\n\n\n---\n\n### Absolute Prohibitions\n\n* Never guess an ID\n* Never say “probably”\n* Never allow execution if confidence < 0.7\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2528,
        1312
      ],
      "id": "07eab48c-f6c6-4470-a959-05c6b25cc109",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2592,
        1584
      ],
      "id": "8a9ea492-8d3e-4564-9d9f-fc55a4ede8bc",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "TppyipaFrqXqvcLE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "moonshotai/kimi-k2-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2416,
        1600
      ],
      "id": "c9f6ac85-41b8-472d-be2a-003e4678ec37",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "VqxrwHahgVrPESe1",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "execute",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0f434cc8-9892-4a72-b374-44e226604785"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "54de4827-d31a-4c80-a030-1be3184ac506",
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "refuse",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3088,
        1312
      ],
      "id": "6b64652e-761f-4f30-b7bd-c7f7218802c6",
      "name": "Switch1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2160,
        1296
      ],
      "id": "60446d97-385a-4e5e-a93a-3e9463c528e4",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        7056,
        -1088
      ],
      "id": "aa0c1c27-5bd3-4efc-9abf-6d5c62b2cf55",
      "name": "Merge1"
    },
    {
      "parameters": {
        "chatId": "5763466369",
        "text": "={{ $json.formattedMessage }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        8512,
        -1088
      ],
      "id": "84693328-277f-4e21-a7c3-c38ebe12340d",
      "name": "Send a text message2",
      "webhookId": "a0ad98c4-0089-43fa-a654-e07aae39bb1f",
      "credentials": {
        "telegramApi": {
          "id": "R383r4gwXkG6Qwzo",
          "name": "FounderStack"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  try {\n    const data = item.json; \n    \n    // 1. Build Header (Status and Confidence)\n    let headerLines = [\n      `Status: ${data.status || 'Unknown'}`,\n      `Confidence: ${data.confidence ? (data.confidence * 100).toFixed(0) : 0}%`\n    ];\n\n    // 2. Scan for metadata URLs (top-level properties)\n    for (const [key, value] of Object.entries(data)) {\n      if (typeof value === 'string' && value.startsWith('http')) {\n        const cleanKey = key.replace(/_/g, ' ');\n        headerLines.push(`${cleanKey}: <a href=\"${value}\">View</a>`);\n      }\n    }\n\n    // 3. Process the main Message body to find and format links\n    let messageBody = data.message || '';\n    \n    // Regex to find URLs\n    const urlRegex = /(https?:\\/\\/[^\\s]+)/g;\n    \n    messageBody = messageBody.replace(urlRegex, (url) => {\n      const lowerUrl = url.toLowerCase();\n      let label = \"View Website\"; // Default\n\n      if (lowerUrl.includes(\"notion.so\")) {\n        label = \"View in Notion\";\n      } else if (lowerUrl.includes(\"linkedin.com\")) {\n        label = \"View in LinkedIn\";\n      } else if (lowerUrl.includes(\"twitter.com\") || lowerUrl.includes(\"x.com\")) {\n        label = \"View in X/Twitter\";\n      }\n\n      return `<a href=\"${url}\">${label}</a>`;\n    });\n\n    // 4. Handle Reason\n    let reasonSection = \"\";\n    if (data.reason && String(data.reason).trim() !== \"null\" && String(data.reason).trim() !== \"\") {\n      reasonSection = `\\n\\n<i>(Reason: ${data.reason})</i>`;\n    }\n\n    // 5. Combine into final Telegram HTML format\n    const finalMessage = `<blockquote>${headerLines.join('\\n')}</blockquote>\\n\\n${messageBody}${reasonSection}`;\n\n    // Set the output\n    item.json.formattedMessage = finalMessage;\n\n  } catch (e) {\n    item.json.formattedMessage = `Error formatting message: ${e.message}`;\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8256,
        -1088
      ],
      "id": "d0cc7f51-16ba-4137-b0ad-0b3e3b3fc1d8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3344,
        1088
      ],
      "id": "cab3c04a-40df-4769-ba25-14ddbe0f92a3",
      "name": "Merge2"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "5327b66c-53e5-42b1-a5a5-cb85a0470f95",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -3248,
        -192
      ],
      "webhookId": "cf51cc36-0b52-4636-a056-944d4a93bc66",
      "credentials": {
        "telegramApi": {
          "id": "R383r4gwXkG6Qwzo",
          "name": "FounderStack"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "recived an image",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2496,
        352
      ],
      "id": "8287560e-ba52-41dd-84cd-d866a91a7f72",
      "name": "Send a text message6",
      "webhookId": "60dfdfe2-bb9a-4a6b-9497-a39be4f11108",
      "credentials": {
        "telegramApi": {
          "id": "R383r4gwXkG6Qwzo",
          "name": "FounderStack"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Sorry you are not elegible to use this bot",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3008,
        96
      ],
      "id": "634998e4-bfa1-4fec-9fdd-1ab3c335e76a",
      "name": "not eligable",
      "webhookId": "daae8452-9d72-4184-8f71-ee183ee10305",
      "credentials": {
        "telegramApi": {
          "id": "R383r4gwXkG6Qwzo",
          "name": "FounderStack"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a9e196c7-fd2f-4db6-8f32-2aacee34ca82",
              "leftValue": "={{ $json.message.from.id }}",
              "rightValue": 5763466369,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2976,
        -192
      ],
      "id": "3b1243eb-f019-487a-886f-e316ec7ec4ef",
      "name": "If1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1ac1ccde-b15a-470a-be44-9acedb20bf3c",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "eb8a49e8-ea46-4462-b6cf-7cb5550aacfa"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b0312b67-c9cd-48a9-a9e3-550ac44a27b4",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2736,
        -176
      ],
      "id": "ec8c2a4d-34cb-4e95-898f-324157de6905",
      "name": "Switch2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1648,
        -208
      ],
      "id": "1abdbcd3-9995-4731-a89d-95484cc73884",
      "name": "Merge3",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User: {{ $json.message?.text || $json.text }}\nCalled Tool Name: {{ $json.tool_called || 'None' }}\nTools Output:\n{{ \n  Object.keys($json)\n    .filter(key => key.includes('toon'))\n    .map(key => \"- \" + key + \": \" + $json[key])\n    .join('\\n\\n')\n}}\n\nReason: {{ $json.reason || 'None' }}",
        "options": {
          "systemMessage": "=# 🧠 PROMPT 3 — FINAL AI (Validator / Narrator)\n\nYou are the **Final CRM Communicator**.\n\nYou receive:\n* Tool execution results (or none)\n* Errors (if any)\n* Resolver decisions\n\nYour job is to:\n* Validate what actually happened\n* Communicate clearly to the user\n* Never hallucinate success\n\n---\n\n### Hard Rules\n\n* If **no execution output exists** → status MUST be `\"Failure\"`\n* Never say an update happened unless verified\n* Always explain failure reasons clearly\n* Be concise, confident, and human\n* URL Inclusion: If the tool output contains a person_url or similar profile link, you must include it in your final message to the user.\n\n---\n\n### Output Tool\n\nAlways respond using `send_final_msg`.\n\nExample (success):\n\n{\n  \"tool\": \"send_final_msg\",\n  \"status\": \"Success\",\n  \"confidence\": 0.9,\n  \"message\": \"✅ Oram Ahmed’s profile was updated: Job Title set to VP of Sales.\",\n  \"reason\": null\n}\n\nExample (failure):\n\n{\n  \"tool\": \"send_final_msg\",\n  \"status\": \"Failure\",\n  \"confidence\": 0.4,\n  \"message\": \"⚠️ I found multiple similar contacts and couldn’t confidently determine the correct one.\",\n  \"reason\": \"Ambiguous match; no safe resolution\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        7520,
        -1088
      ],
      "id": "f5c8aeef-88da-4a8e-8d2f-d9dc0ac25f7e",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        7648,
        -752
      ],
      "id": "554387a1-b84d-4fb0-a399-b55cca1c5e02",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "TppyipaFrqXqvcLE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "moonshotai/kimi-k2-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        7424,
        -800
      ],
      "id": "0ae336fd-d76c-45ad-93ba-cf16437c8376",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "VqxrwHahgVrPESe1",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop through all incoming items\nfor (const item of $input.all()) {\n  // Create a new object with the new key at the top\n  // Then spread the existing data after it\n  item.json = {\n    tool_called: \"create_person\",\n    ...item.json\n  };\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4176,
        -48
      ],
      "id": "737cc60f-dcfb-4b71-ba91-48e21a2c7c36",
      "name": "append tool name"
    },
    {
      "parameters": {
        "jsCode": "// Loop through all incoming items\nfor (const item of $input.all()) {\n  // Create a new object with the new key at the top\n  // Then spread the existing data after it\n  item.json = {\n    tool_called: \"get_person\",\n    ...item.json\n  };\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2656,
        -496
      ],
      "id": "afce8838-abd9-432a-bf3b-6239123c3fc5",
      "name": "append tool name1"
    },
    {
      "parameters": {
        "jsCode": "// Loop through all incoming items\nfor (const item of $input.all()) {\n  // Create a new object with the new key at the top\n  // Then spread the existing data after it\n  item.json = {\n    tool_called: \"update_person\",\n    ...item.json\n  };\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2656,
        400
      ],
      "id": "53c8ba2a-86af-481c-a84c-9ea1cf8465fd",
      "name": "append tool name2"
    },
    {
      "parameters": {
        "jsCode": "// Loop through all incoming items\nfor (const item of $input.all()) {\n  // Create a new object with the new key at the top\n  // Then spread the existing data after it\n  item.json = {\n    tool_called: \"query_people\",\n    ...item.json\n  };\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2656,
        624
      ],
      "id": "d824b2cd-b3ba-4a81-9ffd-ddf6316b9c55",
      "name": "append tool name3"
    },
    {
      "parameters": {
        "jsCode": "// Loop through all incoming items\nfor (const item of $input.all()) {\n  // Create a new object with the new key at the top\n  // Then spread the existing data after it\n  item.json = {\n    tool_called: \"query_person\",\n    ...item.json\n  };\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        1488
      ],
      "id": "6bbc2c8e-4d08-4cc3-a0a3-78feb7199775",
      "name": "append tool name4"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  // Check if output exists to avoid errors\n  if (item.json.output) {\n    try {\n      // Clean the string - remove Markdown code block markers and any other whitespace\n      let jsonString = String(item.json.output);\n      \n      // Comprehensive cleaning:\n      // 1. Remove ```json at the beginning (with optional newline after)\n      // 2. Remove ``` at the end (with optional newline before)\n      // 3. Trim whitespace\n      jsonString = jsonString.replace(/^```json\\s*/i, '');\n      jsonString = jsonString.replace(/\\s*```$/, '');\n      jsonString = jsonString.trim();\n      \n      // If the string is wrapped in additional quotes, remove them\n      if ((jsonString.startsWith('\"') && jsonString.endsWith('\"')) || \n          (jsonString.startsWith(\"'\") && jsonString.endsWith(\"'\"))) {\n        jsonString = jsonString.slice(1, -1);\n      }\n      \n      // Parse the cleaned string into a real JSON object\n      const cleanedData = JSON.parse(jsonString);\n      \n      // Replace the item's content with the cleaned JSON\n      item.json = cleanedData;\n    } catch (error) {\n      // If parsing fails, we keep the original and add an error flag\n      item.json = {\n        original: item.json.output,\n        error: \"Invalid JSON string\",\n        parseError: error.message\n      };\n    }\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        1312
      ],
      "id": "c47b227d-9f23-460f-8c48-61d7d310ca52",
      "name": "clean3"
    },
    {
      "parameters": {
        "jsCode": "\n// Loop through all incoming items\nfor (const item of $input.all()) {\n  // Create a new object with the new key at the top\n  // Then spread the existing data after it\n  item.json = {\n    tool_called: \"query_then_update_person\",\n    ...item.json\n  };\n}\n\nreturn $input.all();\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6912,
        944
      ],
      "id": "48f0f2ca-863f-42dd-ba06-25c092d2508a",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "// Function to recursively crawl the object and lowercase \"search\" values\nfunction lowercaseSearch(obj) {\n  if (Array.isArray(obj)) {\n    return obj.map(item => lowercaseSearch(item));\n  } else if (typeof obj === 'object' && obj !== null) {\n    const newObj = {};\n    for (const key in obj) {\n      if (key === 'search' && typeof obj[key] === 'string') {\n        newObj[key] = obj[key].toLowerCase();\n      } else {\n        newObj[key] = lowercaseSearch(obj[key]);\n      }\n    }\n    return newObj;\n  }\n  return obj;\n}\n\n// Loop through all items incoming from the previous node\nreturn items.map(item => {\n  return {\n    json: lowercaseSearch(item.json)\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        624
      ],
      "id": "9e0f02f6-5609-434f-b657-9c63897cad33",
      "name": "contians value to lowercase"
    },
    {
      "parameters": {
        "jsCode": "// Function to recursively crawl the object and lowercase \"search\" values\nfunction lowercaseSearch(obj) {\n  if (Array.isArray(obj)) {\n    return obj.map(item => lowercaseSearch(item));\n  } else if (typeof obj === 'object' && obj !== null) {\n    const newObj = {};\n    for (const key in obj) {\n      if (key === 'search' && typeof obj[key] === 'string') {\n        newObj[key] = obj[key].toLowerCase();\n      } else {\n        newObj[key] = lowercaseSearch(obj[key]);\n      }\n    }\n    return newObj;\n  }\n  return obj;\n}\n\n// Loop through all items incoming from the previous node\nreturn items.map(item => {\n  return {\n    json: lowercaseSearch(item.json)\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        1488
      ],
      "id": "7dc5705a-157c-4b70-8d86-6a59e2820808",
      "name": "contians value to lowercase1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3-turbo"
            },
            {
              "name": "temperature",
              "value": "0"
            },
            {
              "name": "response_format",
              "value": "verbose_json"
            },
            {
              "name": "url",
              "value": "=https://api.telegram.org/file/bot8446337809:AAHSl3VWDRyBt6WaW7aAzc4Xma_0s1_kflQ/{{ $json.result.file_path }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2112,
        -96
      ],
      "id": "ed129942-a938-46d7-8928-65bccd502e02",
      "name": "groq STT",
      "credentials": {
        "groqApi": {
          "id": "VqxrwHahgVrPESe1",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot8446337809:AAHSl3VWDRyBt6WaW7aAzc4Xma_0s1_kflQ/getFile?file_id={{ $json.message.voice.file_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2304,
        -96
      ],
      "id": "a88e261b-0082-406e-938b-d0890c881200",
      "name": "get voice file path"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot8446337809:AAHSl3VWDRyBt6WaW7aAzc4Xma_0s1_kflQ/voice/file_6.oga",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2672,
        -768
      ],
      "id": "02f1e726-e687-4898-9019-4f4df341ba50",
      "name": "HTTP Request",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "text": "=you will get an input as an audio\n\nwhat we are doing is this:\n# AI Second Brain\n\n## Core Philosophy\nYou are the \"Sorter\" in an AI Second Brain system. Your goal is to offload the burden of organization from the user. You must process raw, frictionless thoughts captured by the user and route them into a structured memory system (Notion).\n\n## Your Mission\n1. **Analyze** the user's incoming message.\n2. **Categorize** it into one of four buckets: **People, Projects, Ideas, or Admin**.\n3. **Extract** relevant fields based on the specific database schemas below.\n4. **Evaluate** your confidence.\n\n---\n\n## Database Schemas & Mapping\n\n### 1. People (Relationships & Network)\nUse this for: Managing professional and personal contacts, tracking outreach, and maintaining context on network relationships.\n\n**Database Properties:**\n- **Title**: Appears at the top of the page and can be found via Quick Find.\n* **Name:** The primary name of the individual.\n* **Company:** Current organization or employer.\n* **Email:** Professional or personal email address.\n* **Phone:** Contact number.\n* **Job Title:** The person's specific role.\n* **Industry:** The professional sector they belong to.\n* **LinkedIn URL:** Direct link to their professional profile.\n* **Location:** City or region.\n* **Context:** Summary of who they are and the nature of the relationship.\n* **Notes:** Detailed interaction logs or miscellaneous information.\n* **Tags:** Categories like \"Work,\" \"Personal,\" etc.\n* **Status:** Status is required, i will tell you the options below\n* **Follow-up Reminder:** Date set for future outreach.\n* **Last Contact Date:** The last time interaction occurred.\n* **Enriched:** Checkbox indicating if the profile data has been enhanced.\n\n**DATE FORMATTING:**\nAll date fields (Follow-up Reminder, Last Contact Date) must be formatted exactly as follows for Notion API compatibility:\n* **Format:** `dddd, MMMM D, YYYY`\n* **Example:** `Wednesday, January 28, 2022`\n\n**STRICT STATUS PROPERTY VALUES:**\nWhen setting or updating the \"Status\" field, you must use these exact strings. Do not use any other variations:\n* **To reach out**\n* **In conversation**\n* **Connected**\n* **Not a fit**\n\n### 2. Projects (Active Endeavors)\n*Use this for: Goals requiring multiple steps. Focus on actions.*\n- **Title**: Appears at the top of the page and can be found via Quick Find.\n- **Name**: Clear project title.\n- **Status**: Active, Waiting, Blocked, Someday, or Done.\n- **Next-Action**: A concrete, executable task (e.g., \"Email Sarah\").\n- **Notes**: Extracted context and details.\n\n### 3. Ideas (Insights & Aha! moments)\n*Use this for: Raw insights and creative thoughts.*\n- **Title**: Appears at the top of the page and can be found via Quick Find.\n- **Name**: A catchy/clear title.\n- **One-liner**: A single sentence capturing the core insight.\n- **Notes**: The full detailed thought.\n- **Tags**: Topic categories.\n\n### 4. Admin (Errands & Minor Tasks)\n*Use this for: One-off tasks or miscellaneous to-dos.*\n- **Title**: Appears at the top of the page and can be found via Quick Find.\n- **Name**: The task name.\n- **Due-Date**: If mentioned, extract the date. IT MUST BE IN ISO FORMAT CONVERT IT IF IT IS NOT.\n- **Status**: MUST be one of those: [\"Back Log\", \"Todo\", \"In Progress\", \"Complete\"] EXACTLY as they are fromated\n\n---\n\n## Response Logic & Output Format\n\nYou must return a JSON object. The structure depends on your **Confidence Score (0.0 - 1.0)**.\n\n### IF CONFIDENCE IS > 0.7:\nReturn the structured data for the chosen category and a success message.\n\n{\n  \"category\": \"people | projects | ideas | admin\",\n  \"confidence\": 0.95,\n  \"fields\": {\n    \"title\": \"title\",\n    \"relevant_field_1\": \"data\",\n    \"relevant_field_2\": \"data\"\n  },\n  \"message\": \"✅ Filed as [Category]: [Summary of what you did].\"\n}\n\n\n### IF CONFIDENCE IS <= 0.7:\nDo not attempt to file the data. Instead, ask for clarification.\n\n{\n  \"category\": \"needs_review\",\n  \"confidence\": 0.45,\n  \"fields\": {},\n  \"message\": \"❓ I'm not entirely sure how to file this. [Explain what was confusing]. Could you please clarify [tell the user what you want to clarify]?\"\n}\n\n\n## Constraints\n- **Frictionless**: Extract as much as possible from short, messy inputs.\n- **Must fill all the database fields**: if there is one you did not thought it is needed, keep it in the json and put its value to None.\n- **Action-Oriented**: Always prioritize \"Next Actions\" over vague intentions for Projects.\n- **No Markdown**: Return ONLY the raw JSON object without a code block.\n- **No Code Bllocks**: Return ONLY the raw JSON object, with no MD Code Block.\n- **Today's Date & Time**: always use Today's date and time, here is it {{ $now.toFormat('DDDD') }}",
        "inputType": "binary",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -2256,
        -768
      ],
      "id": "f9cc93c7-dcd4-4323-b8ad-88b88eb5c212",
      "name": "Analyze audio",
      "credentials": {
        "googlePalmApi": {
          "id": "TppyipaFrqXqvcLE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the existing binary data\nconst binaryData = await this.helpers.getBinaryDataBuffer(0, 'data');\n\nreturn {\n  json: {\n    message: \"Transcribe this audio clip\"\n  },\n  binary: {\n    data: {\n      data: binaryData.toString('base64'),\n      mimeType: 'audio/mp3', // We \"lie\" to Gemini here to make it accept the buffer\n      fileName: 'audio.mp3'\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2464,
        -768
      ],
      "id": "2d673a7f-3f55-420d-8987-30801023be24",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "jsCode": "// Loop through every item passing through the node\nreturn items.map(item => {\n  try {\n    // Navigate the new nested structure: content -> parts -> [0] -> text\n    const newText = item.json.content.parts[0].text;\n\n    return {\n      json: {\n        output: newText\n      }\n    };\n  } catch (error) {\n    // In case an item doesn't match the new format, return an error flag or empty object\n    return {\n      json: {\n        error: \"Could not parse new format\",\n        details: error.message\n      }\n    };\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        -768
      ],
      "id": "112b9208-4708-442c-8f77-eb038b9fad2c",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "url": "https://api.crm.founderstack.cloud/api/people/{{ $json.person_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Api-Key  xzwG55JDaJEScSK28tGE1f-O3FxKcJwEhLEaocXP7Ao"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -736,
        1264
      ],
      "id": "cecc664f-f591-48b9-93ab-1803b142485a",
      "name": "get person"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.crm.founderstack.cloud/api/people/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Api-Key  xzwG55JDaJEScSK28tGE1f-O3FxKcJwEhLEaocXP7Ao"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.output.person_payload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2032,
        -256
      ],
      "id": "c419a237-0bb3-46ba-b5e5-54c30234e678",
      "name": "create_person"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.crm.founderstack.cloud/api/people/{{ $json.person_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Api-Key  xzwG55JDaJEScSK28tGE1f-O3FxKcJwEhLEaocXP7Ao"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.fields.core }}",
        "options": {}
      },
      "id": "3c05a6c2-3c3e-478a-a1dc-2b49b7ac6bf0",
      "name": "update person",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2176,
        400
      ]
    },
    {
      "parameters": {
        "url": "=https://api.crm.founderstack.cloud/api/people/{{ $json.person_id }}/context/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "sections",
              "value": "all"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Api-Key  xzwG55JDaJEScSK28tGE1f-O3FxKcJwEhLEaocXP7Ao"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1952,
        -496
      ],
      "id": "cbaa1dc4-e737-416f-845e-f52c86a8eb2c",
      "name": "get person1"
    },
    {
      "parameters": {
        "url": "https://api.crm.founderstack.cloud/api/people",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={{JSON.stringify($json.filters)}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Api-Key xzwG55JDaJEScSK28tGE1f-O3FxKcJwEhLEaocXP7Ao"
            }
          ]
        },
        "options": {}
      },
      "id": "df8b70a6-d519-486e-8789-30649d8973b5",
      "name": "query people",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1952,
        624
      ]
    },
    {
      "parameters": {
        "url": "https://api.crm.founderstack.cloud/api/people/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Api-Key xzwG55JDaJEScSK28tGE1f-O3FxKcJwEhLEaocXP7Ao"
            }
          ]
        },
        "options": {}
      },
      "id": "3f1d84b8-c575-4e99-bb4e-78625d2b9d01",
      "name": "query people1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -576,
        1488
      ]
    },
    {
      "parameters": {
        "url": "https://api.crm.founderstack.cloud/api/people",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={{JSON.stringify($json.query_payload)}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Api-Key xzwG55JDaJEScSK28tGE1f-O3FxKcJwEhLEaocXP7Ao"
            }
          ]
        },
        "options": {}
      },
      "id": "42d8295a-8cd8-4f9d-9bbd-4f122ecfc633",
      "name": "query people2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1024,
        1488
      ]
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  // Check if output exists to avoid errors\n  if (item.json.output) {\n    try {\n      // Clean the string - remove Markdown code block markers and any other whitespace\n      let jsonString = String(item.json.output);\n      \n      // Comprehensive cleaning:\n      // 1. Remove ```json at the beginning (with optional newline after)\n      // 2. Remove ``` at the end (with optional newline before)\n      // 3. Trim whitespace\n      jsonString = jsonString.replace(/^```json\\s*/i, '');\n      jsonString = jsonString.replace(/\\s*```$/, '');\n      jsonString = jsonString.trim();\n      \n      // If the string is wrapped in additional quotes, remove them\n      if ((jsonString.startsWith('\"') && jsonString.endsWith('\"')) || \n          (jsonString.startsWith(\"'\") && jsonString.endsWith(\"'\"))) {\n        jsonString = jsonString.slice(1, -1);\n      }\n      \n      // Parse the cleaned string into a real JSON object\n      const cleanedData = JSON.parse(jsonString);\n      \n      // Replace the item's content with the cleaned JSON\n      item.json = cleanedData;\n    } catch (error) {\n      // If parsing fails, we keep the original and add an error flag\n      item.json = {\n        original: item.json.output,\n        error: \"Invalid JSON string\",\n        parseError: error.message\n      };\n    }\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        -112
      ],
      "id": "bcf88e50-5572-432e-8e8e-08baa3bcf6bc",
      "name": "clean4"
    },
    {
      "parameters": {
        "chatId": "5763466369",
        "text": "={{ $json.formattedMessage }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -384,
        560
      ],
      "id": "5740c91e-3d44-4f75-9e8c-382f2213da46",
      "name": "Send a text message3",
      "webhookId": "a0ad98c4-0089-43fa-a654-e07aae39bb1f",
      "credentials": {
        "telegramApi": {
          "id": "R383r4gwXkG6Qwzo",
          "name": "FounderStack"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  try {\n    const data = item.json; \n    \n    // 1. Build Header (Status and Confidence)\n    let headerLines = [\n      `Status: ${data.status || 'Unknown'}`,\n      `Confidence: ${data.confidence ? (data.confidence * 100).toFixed(0) : 0}%`\n    ];\n\n    // 2. Scan for metadata URLs (top-level properties)\n    for (const [key, value] of Object.entries(data)) {\n      if (typeof value === 'string' && value.startsWith('http')) {\n        const cleanKey = key.replace(/_/g, ' ');\n        headerLines.push(`${cleanKey}: <a href=\"${value}\">View</a>`);\n      }\n    }\n\n    // 3. Process the main Message body to find and format links\n    let messageBody = data.message || '';\n    \n    // Regex to find URLs\n    const urlRegex = /(https?:\\/\\/[^\\s]+)/g;\n    \n    messageBody = messageBody.replace(urlRegex, (url) => {\n      const lowerUrl = url.toLowerCase();\n      let label = \"View Website\"; // Default\n\n      if (lowerUrl.includes(\"notion.so\")) {\n        label = \"View in Notion\";\n      } else if (lowerUrl.includes(\"linkedin.com\")) {\n        label = \"View in LinkedIn\";\n      } else if (lowerUrl.includes(\"twitter.com\") || lowerUrl.includes(\"x.com\")) {\n        label = \"View in X/Twitter\";\n      }\n\n      return `<a href=\"${url}\">${label}</a>`;\n    });\n\n    // 4. Handle Reason\n    let reasonSection = \"\";\n    if (data.reason && String(data.reason).trim() !== \"null\" && String(data.reason).trim() !== \"\") {\n      reasonSection = `\\n\\n<i>(Reason: ${data.reason})</i>`;\n    }\n\n    // 5. Combine into final Telegram HTML format\n    const finalMessage = `<blockquote>${headerLines.join('\\n')}</blockquote>\\n\\n${messageBody}${reasonSection}`;\n\n    // Set the output\n    item.json.formattedMessage = finalMessage;\n\n  } catch (e) {\n    item.json.formattedMessage = `Error formatting message: ${e.message}`;\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        560
      ],
      "id": "997b9b54-4ed6-4017-be7d-a07f0e2eb3dc",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.crm.founderstack.cloud/api/tasks/import/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Api-Key xzwG55JDaJEScSK28tGE1f-O3FxKcJwEhLEaocXP7Ao"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.tasks }}",
        "options": {}
      },
      "id": "cb5fe4ad-24c4-4bbc-af03-85410adc6164",
      "name": "add tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1376,
        784
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.crm.founderstack.cloud/api/notes/import/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Api-Key xzwG55JDaJEScSK28tGE1f-O3FxKcJwEhLEaocXP7Ao"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.notes }}",
        "options": {}
      },
      "id": "33bfe877-b75c-4fec-8807-a75b2667147d",
      "name": "add notes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1376,
        1040
      ]
    },
    {
      "parameters": {
        "jsCode": "// Function to format dates to \"DD-MM-YYYY\" format\nconst formatDate = (dateString) => {\n  if (!dateString) return null;\n  const date = new Date(dateString);\n  \n  // Format as DD-MM-YYYY\n  const day = String(date.getDate()).padStart(2, '0');\n  const month = String(date.getMonth() + 1).padStart(2, '0');\n  const year = date.getFullYear();\n  \n  return `${day}-${month}-${year}`;\n};\n\n// n8n uses $input.all() to get incoming data\nconst items = $input.all();\nlet allResults = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Handle both array and single object cases\n  const leads = Array.isArray(data) ? data : [data];\n  \n  for (const lead of leads) {\n    // Transform tasks\n    const tasks = (lead.tasks || []).map(task => ({\n      id: task.id || null,\n      // created_by_name: task.created_by_name || null,\n      created_at: formatDate(task.created_at),\n      updated_at: formatDate(task.updated_at),\n      title: task.title || null,\n      description: task.description || null,\n      status: task.status || null,\n      due_date: formatDate(task.due_date)\n    }));\n\n    // Transform notes\n    const notes = (lead.notes || []).map(note => ({\n      id: note.id || null,\n      // created_by_name: note.created_by_name || null,\n      created_at: formatDate(note.created_at),\n      // updated_at: formatDate(note.updated_at),\n      title: note.title || null,\n      content: note.content || null\n    }));\n\n    // Transform company object - simplified as you suggested\n    const company = {\n      id: lead.company?.id || null,\n      name: lead.company?.name || null,\n      domain: lead.company?.domain || null,\n      employees: lead.company?.employees || null,\n      location: lead.company?.location || null,\n      linkedin: lead.company?.linkedin || null,\n      arr: lead.company?.arr || null,\n      icp: lead.company?.icp || false\n    };\n\n    allResults.push({\n      id: lead.id || null,\n      name: lead.name || null,\n      email: lead.email || null,\n      phone: lead.phone || null,\n      job_title: lead.job_title || null,\n      city: lead.city || null,\n      linkedin: lead.linkedin || null,\n      conversion_rate: lead.conversion_rate || null,\n      stage: lead.stage || null,\n      lead_type: lead.lead_type || null,\n      lead_source: lead.lead_source || null,\n      last_action: lead.last_action || null,\n      recommended_action: lead.recommended_action || null,\n      company: company,\n      activities: lead.activities || [],\n      tasks: tasks,\n      notes: notes\n    });\n  }\n}\n\n// Return as objects; n8n will wrap them in .json automatically\nreturn allResults;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        -496
      ],
      "id": "2dfd4e8e-165f-47ec-8a1d-9746fdf64d48",
      "name": "get impo values1"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  // Check if output exists to avoid errors\n  if (item.json.output) {\n    try {\n      // Clean the string - remove Markdown code block markers and any other whitespace\n      let jsonString = String(item.json.output);\n      \n      // Comprehensive cleaning:\n      // 1. Remove ```json at the beginning (with optional newline after)\n      // 2. Remove ``` at the end (with optional newline before)\n      // 3. Trim whitespace\n      jsonString = jsonString.replace(/^```json\\s*/i, '');\n      jsonString = jsonString.replace(/\\s*```$/, '');\n      jsonString = jsonString.trim();\n      \n      // If the string is wrapped in additional quotes, remove them\n      if ((jsonString.startsWith('\"') && jsonString.endsWith('\"')) || \n          (jsonString.startsWith(\"'\") && jsonString.endsWith(\"'\"))) {\n        jsonString = jsonString.slice(1, -1);\n      }\n      \n      // Parse the cleaned string into a real JSON object\n      const cleanedData = JSON.parse(jsonString);\n      \n      // Replace the item's content with the cleaned JSON\n      item.json = cleanedData;\n    } catch (error) {\n      // If parsing fails, we keep the original and add an error flag\n      item.json = {\n        original: item.json.output,\n        error: \"Invalid JSON string\",\n        parseError: error.message\n      };\n    }\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7920,
        -1088
      ],
      "id": "86dc2c0c-d211-4180-be6f-176aca04b197",
      "name": "clean"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.crm.founderstack.cloud/api/people/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Api-Key  xzwG55JDaJEScSK28tGE1f-O3FxKcJwEhLEaocXP7Ao"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.fields.core }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1248,
        0
      ],
      "id": "5fe73020-03bd-4140-8c2b-0bb91142e2b9",
      "name": "create_person2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bf8c25c9-b10c-4185-8299-3dfb869dc32b",
              "leftValue": "={{ $json.fields.company }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        912,
        -128
      ],
      "id": "4d294e25-3b22-43ff-bb4f-a895fe81ebf0",
      "name": "If2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.crm.founderstack.cloud/api/companies/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Api-Key  xzwG55JDaJEScSK28tGE1f-O3FxKcJwEhLEaocXP7Ao"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.fields.company }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1264,
        -288
      ],
      "id": "2485c21a-3661-4852-8e79-c3626e37168e",
      "name": "create company"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1552,
        -256
      ],
      "id": "3da6810b-3dcc-419c-9bcb-287159f2f56b",
      "name": "Merge4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d5551e4f-739d-40b6-8eeb-5f6236c08031",
              "leftValue": "={{ $json.output.tasks_payload }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2560,
        -64
      ],
      "id": "9cdbbfc7-46c1-4af0-826b-3ceaab0b7759",
      "name": "If3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.crm.founderstack.cloud/api/notes/import/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Api-Key xzwG55JDaJEScSK28tGE1f-O3FxKcJwEhLEaocXP7Ao"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.notes }}",
        "options": {}
      },
      "id": "e90f3dbd-6547-443c-9bf0-6031da2e17a7",
      "name": "add notes1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3088,
        224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d5551e4f-739d-40b6-8eeb-5f6236c08031",
              "leftValue": "={{ $json.output.notes_payload }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2560,
        128
      ],
      "id": "a212ed67-771e-478f-8911-e3fee437c172",
      "name": "If4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.crm.founderstack.cloud/api/tasks/import/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Api-Key xzwG55JDaJEScSK28tGE1f-O3FxKcJwEhLEaocXP7Ao"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.tasks }}",
        "options": {}
      },
      "id": "b4363736-c61a-42ce-8bd1-f7d5fdc3736e",
      "name": "add tasks1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3152,
        -336
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1552,
        16
      ],
      "id": "2b7bf219-b9d1-42ec-b2a5-f33c3d852283",
      "name": "Merge5"
    },
    {
      "parameters": {
        "jsCode": "\nconst secondItem = items[0].json;\n\n// Create the output structure\nconst output = {\n  tasks_payload: secondItem.fields.tasks && secondItem.fields.tasks.length > 0 ? secondItem.fields.tasks : null,\n  notes_payload: secondItem.fields.notes && secondItem.fields.notes.length > 0 ? secondItem.fields.notes : null\n};\n\n// Return with the key \"output\"\nreturn { output: output };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        48
      ],
      "id": "a0ec0344-da85-4776-9996-9f33534b556a",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3664,
        -64
      ],
      "id": "d6e6fba8-865b-486d-81ae-f92ef494e3d5",
      "name": "Merge6"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2304,
        -240
      ],
      "id": "58e43e5c-fb97-437f-94ca-a65a837ac0af",
      "name": "Merge7"
    },
    {
      "parameters": {
        "jsCode": "// Get the original item\nconst originalItem = items[0].json;\n\n// Create a new object without the output field\nconst { output, ...itemWithoutOutput } = originalItem;\n\n// Return the cleaned item\nreturn [{\n  json: itemWithoutOutput\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        -240
      ],
      "id": "74612b05-9426-466b-8369-5fcbb995ab47",
      "name": "drop output"
    },
    {
      "parameters": {
        "jsCode": "const tasks = items[0].json.output.tasks_payload;\nconst personId = items[0].json.id;\n\nconst updatedTasks = tasks.map(task => {\n  return {\n    ...task,\n    related_person: personId\n  };\n});\n\n// Return as single item with tasks array\nreturn [{\n  json: {\n    tasks: updatedTasks\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2816,
        -80
      ],
      "id": "61be400f-8617-4a7a-a9c8-ac1f39c937b3",
      "name": "map tasks"
    },
    {
      "parameters": {
        "jsCode": "const notes = items[0].json.output.notes_payload;\nconst personId = items[0].json.id;\n\nconst updatedNotes = notes.map(note => {\n  return {\n    ...note,\n    related_person: personId\n  };\n});\n\n// Return as single item with notes array\nreturn [{\n  json: {\n    notes: updatedNotes\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        224
      ],
      "id": "673b36f8-2d66-4de8-9cfb-5798fa8c798c",
      "name": "map notes"
    },
    {
      "parameters": {
        "jsCode": "// Try to get data from all possible locations\nconst items = $input.all();\n\n// Check if we have any data at all\nif (items.length === 0) {\n  return {};\n}\n\n// Get the items\nconst firstItem = items[0].json;\nconst secondItem = items[1].json;\n\n// Create the output structure\nconst output = {\n  person_payload: {\n    name: secondItem.fields.core.name,\n    email: secondItem.fields.core.email,\n    job_title: secondItem.fields.core.job_title,\n    city: secondItem.fields.core.city,\n    company: firstItem.id\n  },\n  tasks_payload: secondItem.fields.tasks && secondItem.fields.tasks.length > 0 ? secondItem.fields.tasks : null,\n  notes_payload: secondItem.fields.notes && secondItem.fields.notes.length > 0 ? secondItem.fields.notes : null\n};\n\n// Return with the key \"output\"\nreturn { output: output };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        -256
      ],
      "id": "a28a0773-2326-419e-b5be-1bbf8b1081b9",
      "name": "mape input and output"
    },
    {
      "parameters": {
        "jsCode": "// Process each item in the input array\nconst cleanedData = items.map(item => {\n  const data = item.json;\n  \n  // Extract only the required fields\n  return {\n    id: data.id,\n    created_at: data.created_at,\n    title: data.title,\n    status: data.status,\n    related_person: data.related_person\n  };\n});\n\n// Return as a single item with the cleaned array\nreturn [{\n  json: {\n    tasks: cleanedData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        -336
      ],
      "id": "b87c2e16-058f-46ad-9461-7f95147eab29",
      "name": "clean1"
    },
    {
      "parameters": {
        "jsCode": "// Process each item in the input array\nconst cleanedData = items.map(item => {\n  const data = item.json;\n  \n  // Extract only the required fields\n  return {\n    created_at: data.created_at,\n    title: data.title,\n    content: data.content,\n    related_person: data.related_person\n  };\n});\n\n// Return as a single item with the cleaned array\nreturn [{\n  json: {\n    notes: cleanedData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3296,
        224
      ],
      "id": "aa7bb58d-1c54-4649-a0b0-04bc98942b3e",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9ac1aeed-e20d-480f-b489-712ea5a641cb",
              "leftValue": "={{ $json.fields.tasks }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        864,
        800
      ],
      "id": "7db27c40-f455-458e-b084-bfab159799c0",
      "name": "If5"
    },
    {
      "parameters": {
        "jsCode": "const tasks = items[0].json.fields.tasks;\nconst personId = items[0].json.person_id;\n\nconst updatedTasks = tasks.map(task => {\n  return {\n    ...task,\n    related_person: personId\n  };\n});\n\n// Return as single item with tasks array\nreturn [{\n  json: {\n    tasks: updatedTasks\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        784
      ],
      "id": "7582b87b-164c-4e14-a86e-b6fe72fd82e7",
      "name": "map tasks1"
    },
    {
      "parameters": {
        "jsCode": "const notes = items[0].json.fields.notes;\nconst personId = items[0].json.person_id;\n\nconst updatedNotes = notes.map(note => {\n  return {\n    ...note,\n    related_person: personId\n  };\n});\n\n// Return as single item with notes array\nreturn [{\n  json: {\n    notes: updatedNotes\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        1040
      ],
      "id": "6d488f1e-e322-418f-b2e8-5902b974d494",
      "name": "map notes1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9ac1aeed-e20d-480f-b489-712ea5a641cb",
              "leftValue": "={{ $json.fields.notes }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        880,
        1056
      ],
      "id": "b08d6818-f423-47f8-89d2-073a1bf18ce0",
      "name": "If6"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2064,
        912
      ],
      "id": "12a7a562-c6ac-4251-b7c4-4507c5ae0723",
      "name": "Merge8"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Converts a JSON value to a token-efficient shorthand (TOON-style).\n * Strips quotes, uses simple indentation, and flattens structures.\n */\nfunction toTOON(val, indent = 0) {\n  const pad = ' '.repeat(indent);\n  \n  if (Array.isArray(val)) {\n    if (val.length === 0) return '[]';\n    return val.map(item => `\\n${pad}- ${toTOON(item, indent + 2)}`).join('');\n  }\n  \n  if (val !== null && typeof val === 'object') {\n    return Object.entries(val)\n      .filter(([_, v]) => v !== null && v !== undefined) // Skip nulls to save more tokens\n      .map(([k, v]) => `\\n${pad}${k}: ${toTOON(v, indent + 2)}`)\n      .join('');\n  }\n  \n  return String(val);\n}\n\n// Map through all incoming items from the previous n8n node\nreturn items.map(item => {\n  return {\n    json: {\n      toon_output: toTOON(item.json).trim()\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        912
      ],
      "id": "b2b8fe17-3689-4886-9a5b-e74f7b1c2d95",
      "name": "toon conv3"
    },
    {
      "parameters": {
        "jsCode": "// Loop through all incoming items\nfor (const item of $input.all()) {\n  // Create a new object with the new key at the top\n  // Then spread the existing data after it\n  item.json = {\n    tool_called: \"add_tasks_or_and_notes\",\n    ...item.json\n  };\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2816,
        912
      ],
      "id": "e7003a47-4788-4bd5-a425-445ed9dfca74",
      "name": "append tool name5"
    },
    {
      "parameters": {
        "jsCode": "// Clean and transform task data from input\nconst items = $input.all();\nconst result = [];\nconst transformedTasks = [];\n\nfor (const item of items) {\n  // The item itself is the task object\n  const task = item.json;\n  \n  // Transform the task data\n  const transformedTask = {\n    id: task.id || '',\n    created_at: task.created_at || '',\n    updated_at: task.updated_at || '',\n    title: task.title || '',\n    description: task.description || '',\n    status: task.status || '',\n    due_date: task.due_date || ''\n  };\n  \n  transformedTasks.push(transformedTask);\n}\n\n// Add all transformed tasks to a single result object\nif (transformedTasks.length > 0) {\n  result.push({ tasks: transformedTasks });\n} else {\n  result.push({ tasks: [] });\n}\n\n// Return the transformed data\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        784
      ],
      "id": "1a726525-7c3b-443f-bfeb-aa1d3e1ae858",
      "name": "get impo values"
    },
    {
      "parameters": {
        "jsCode": "// Clean and transform note data from input\nconst items = $input.all();\n\n// Transform all notes into the desired format\nconst notes = items.map(item => {\n  const note = item.json;\n  return {\n    id: note.id || '',\n    created_at: note.created_at || '',\n    updated_at: note.updated_at || '',\n    title: note.title || '',\n    content: note.content || ''\n  };\n});\n\n// Return a single object with all notes in one array\nreturn [{ notes: notes }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        1040
      ],
      "id": "d6f4114e-fe28-4f10-9f85-52322c8f5a03",
      "name": "get impo values2"
    },
    {
      "parameters": {
        "jsCode": "// Extract message text while maintaining the same structure\nconst items = $input.all();\n\n// Process each item in the input\nconst result = items.map(item => {\n  // Check if the item has a message with text\n  if (item.json.message && item.json.message.text) {\n    // Create a new item with the same structure but only text in message\n    return {\n      json: {\n        // update_id: item.json.update_id,\n        message: {\n          // message_id: item.json.message.message_id,\n          text: item.json.message.text\n        }\n      }\n    };\n  }\n  return item; // Return original item if no text found\n});\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        -576
      ],
      "id": "555b7dfd-cf9d-41bb-b345-6a08a31a6826",
      "name": "get_text_only"
    },
    {
      "parameters": {
        "jsCode": "// Extract message text while maintaining the same structure\nconst items = $input.all();\n\n// Process each item in the input\nconst result = items.map(item => {\n  // Check if the item has a message with text\n  if (item.json.message && item.json.message.text) {\n    // Create a new item with the same structure but only text in message\n    return {\n      json: {\n        // update_id: item.json.update_id,\n        usr_message: {\n          // message_id: item.json.message.message_id,\n          text: item.json.message.text\n        }\n      }\n    };\n  }\n  return item; // Return original item if no text found\n});\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        256
      ],
      "id": "cf10f9bc-05b1-4b76-85dc-911a8d93831d",
      "name": "get text only"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "34bfaca2-6de5-4c04-9586-4150d9d8dbc7",
              "leftValue": "={{ $json.actions[1].tool_name }}",
              "rightValue": "add_tasks_or_notes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4160,
        1648
      ],
      "id": "87f17296-401b-48c6-af3c-bd02275b0a43",
      "name": "If7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "34bfaca2-6de5-4c04-9586-4150d9d8dbc7",
              "leftValue": "={{ $json.actions[0].tool_name }}",
              "rightValue": "update_person",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4176,
        1360
      ],
      "id": "9699dc91-81e8-4f65-b866-40c6d74fe4b4",
      "name": "If8"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Converts a JSON value to a token-efficient shorthand (TOON-style).\n * Strips quotes, uses simple indentation, and flattens structures.\n */\nfunction toTOON(val, indent = 0) {\n  const pad = ' '.repeat(indent);\n  \n  if (Array.isArray(val)) {\n    if (val.length === 0) return '[]';\n    return val.map(item => `\\n${pad}- ${toTOON(item, indent + 2)}`).join('');\n  }\n  \n  if (val !== null && typeof val === 'object') {\n    return Object.entries(val)\n      .filter(([_, v]) => v !== null && v !== undefined) // Skip nulls to save more tokens\n      .map(([k, v]) => `\\n${pad}${k}: ${toTOON(v, indent + 2)}`)\n      .join('');\n  }\n  \n  return String(val);\n}\n\n// Map through all incoming items from the previous n8n node\nreturn items.map(item => {\n  return {\n    json: {\n      toon_output_update_tool: toTOON(item.json).trim()\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5360,
        1088
      ],
      "id": "2139d622-5239-42fa-b9e6-7fe933e940e1",
      "name": "to TOON3"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.crm.founderstack.cloud/api/people/{{ $json.person_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Api-Key  xzwG55JDaJEScSK28tGE1f-O3FxKcJwEhLEaocXP7Ao"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.actions[0].payload.fields.core }}",
        "options": {}
      },
      "id": "0830db05-debd-486d-abfe-420271931cfc",
      "name": "update person2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5008,
        1088
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.crm.founderstack.cloud/api/tasks/import/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Api-Key xzwG55JDaJEScSK28tGE1f-O3FxKcJwEhLEaocXP7Ao"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.tasks }}",
        "options": {}
      },
      "id": "cb2f24bc-edc5-4782-bce0-2f51efe5dcce",
      "name": "add tasks2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5328,
        1536
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.crm.founderstack.cloud/api/notes/import/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Api-Key xzwG55JDaJEScSK28tGE1f-O3FxKcJwEhLEaocXP7Ao"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.notes }}",
        "options": {}
      },
      "id": "2bdd751f-ce4a-4726-bd82-375a9f30146e",
      "name": "add notes2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5328,
        1792
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9ac1aeed-e20d-480f-b489-712ea5a641cb",
              "leftValue": "={{ $json.actions[1].payload.tasks }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4816,
        1552
      ],
      "id": "67d9cdfd-e82b-4db3-bd11-90eb58097010",
      "name": "If9"
    },
    {
      "parameters": {
        "jsCode": "const tasks = items[0].json.actions[1].payload.tasks;\nconst personId = items[0].json.person_id;\n\nconst updatedTasks = tasks.map(task => {\n  return {\n    ...task,\n    related_person: personId\n  };\n});\n\n// Return as single item with tasks array\nreturn [{\n  json: {\n    tasks: updatedTasks\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5056,
        1536
      ],
      "id": "08ae196e-7edc-422a-b74e-8d47ae904e07",
      "name": "map tasks2"
    },
    {
      "parameters": {
        "jsCode": "const notes = items[0].json.actions[1].payload.notes;\nconst personId = items[0].json.person_id;\n\nconst updatedNotes = notes.map(note => {\n  return {\n    ...note,\n    related_person: personId\n  };\n});\n\n// Return as single item with notes array\nreturn [{\n  json: {\n    notes: updatedNotes\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5056,
        1792
      ],
      "id": "9b0113fe-3367-4c33-93a3-a372eb516171",
      "name": "map notes2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9ac1aeed-e20d-480f-b489-712ea5a641cb",
              "leftValue": "={{ $json.actions[1].payload.notes }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4832,
        1808
      ],
      "id": "6d1db7df-221f-4982-af8d-8e107f3418b0",
      "name": "If10"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6016,
        1664
      ],
      "id": "b737e8dd-f19b-4995-9f01-3f17050c23b6",
      "name": "Merge9"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Converts a JSON value to a token-efficient shorthand (TOON-style).\n * Strips quotes, uses simple indentation, and flattens structures.\n */\nfunction toTOON(val, indent = 0) {\n  const pad = ' '.repeat(indent);\n  \n  if (Array.isArray(val)) {\n    if (val.length === 0) return '[]';\n    return val.map(item => `\\n${pad}- ${toTOON(item, indent + 2)}`).join('');\n  }\n  \n  if (val !== null && typeof val === 'object') {\n    return Object.entries(val)\n      .filter(([_, v]) => v !== null && v !== undefined) // Skip nulls to save more tokens\n      .map(([k, v]) => `\\n${pad}${k}: ${toTOON(v, indent + 2)}`)\n      .join('');\n  }\n  \n  return String(val);\n}\n\n// Map through all incoming items from the previous n8n node\nreturn items.map(item => {\n  return {\n    json: {\n      toon_output_add_tasks_notes_tool: toTOON(item.json).trim()\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6304,
        1664
      ],
      "id": "1d05cf62-cf14-4686-9a61-6f5ed7d14125",
      "name": "toon conv4"
    },
    {
      "parameters": {
        "jsCode": "// Clean and transform task data from input\nconst items = $input.all();\nconst result = [];\nconst transformedTasks = [];\n\nfor (const item of items) {\n  // The item itself is the task object\n  const task = item.json;\n  \n  // Transform the task data\n  const transformedTask = {\n    id: task.id || '',\n    created_at: task.created_at || '',\n    updated_at: task.updated_at || '',\n    title: task.title || '',\n    description: task.description || '',\n    status: task.status || '',\n    due_date: task.due_date || ''\n  };\n  \n  transformedTasks.push(transformedTask);\n}\n\n// Add all transformed tasks to a single result object\nif (transformedTasks.length > 0) {\n  result.push({ tasks: transformedTasks });\n} else {\n  result.push({ tasks: [] });\n}\n\n// Return the transformed data\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5584,
        1536
      ],
      "id": "6f8c447e-e6e2-43f5-a222-8fa99c3d4094",
      "name": "get impo values3"
    },
    {
      "parameters": {
        "jsCode": "// Clean and transform note data from input\nconst items = $input.all();\n\n// Transform all notes into the desired format\nconst notes = items.map(item => {\n  const note = item.json;\n  return {\n    id: note.id || '',\n    created_at: note.created_at || '',\n    updated_at: note.updated_at || '',\n    title: note.title || '',\n    content: note.content || ''\n  };\n});\n\n// Return a single object with all notes in one array\nreturn [{ notes: notes }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5584,
        1792
      ],
      "id": "1bfccd8f-3430-4966-900b-0e7ef5f424a5",
      "name": "get impo values4"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6496,
        1216
      ],
      "id": "2fde16a0-d4a4-4c75-a2f6-a434ac5ec3ef",
      "name": "Merge10"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6672,
        944
      ],
      "id": "22c0a7c6-e8c3-40cd-9146-04d8a54c3f42",
      "name": "Merge11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "718f9fc3-179a-4c04-91e5-aebebbbc4b9d",
              "name": "reason",
              "value": "={{ $json.reason }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5264,
        816
      ],
      "id": "9de90d17-37f7-4ad0-b2f3-23997e8d4f6a",
      "name": "need reason only"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1e9639a1-f680-4cae-af69-7b0fa572e264",
              "leftValue": "={{ $json.actions[0].payload.fields.core }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4608,
        1104
      ],
      "id": "d145d2fe-7c26-4c95-affb-d0f9a08ca98b",
      "name": "If11"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1e9639a1-f680-4cae-af69-7b0fa572e264",
              "leftValue": "={{ $json.actions[0].payload.fields.company }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4608,
        1344
      ],
      "id": "3e0aeb00-b3f8-4c23-9b84-74e69e4e2b88",
      "name": "If12"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "34bfaca2-6de5-4c04-9586-4150d9d8dbc7",
              "leftValue": "={{ $json.actions[0].tool_name }}",
              "rightValue": "get_person",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4176,
        2032
      ],
      "id": "560aa0f1-b4f5-497d-9ee3-790dda64f572",
      "name": "If13"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Converts a JSON value to a token-efficient shorthand (TOON-style).\n * Strips quotes, uses simple indentation, and flattens structures.\n */\nfunction toTOON(val, indent = 0) {\n  const pad = ' '.repeat(indent);\n  \n  if (Array.isArray(val)) {\n    if (val.length === 0) return '[]';\n    return val.map(item => `\\n${pad}- ${toTOON(item, indent + 2)}`).join('');\n  }\n  \n  if (val !== null && typeof val === 'object') {\n    return Object.entries(val)\n      .filter(([_, v]) => v !== null && v !== undefined) // Skip nulls to save more tokens\n      .map(([k, v]) => `\\n${pad}${k}: ${toTOON(v, indent + 2)}`)\n      .join('');\n  }\n  \n  return String(val);\n}\n\n// Map through all incoming items from the previous n8n node\nreturn items.map(item => {\n  return {\n    json: {\n      toon_output: toTOON(item.json).trim()\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5312,
        2096
      ],
      "id": "03beac11-01a3-4923-9751-585ccf71f168",
      "name": "toon conv5"
    },
    {
      "parameters": {
        "url": "=https://api.crm.founderstack.cloud/api/people/{{ $json.person_id }}/context/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "sections",
              "value": "all"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Api-Key  xzwG55JDaJEScSK28tGE1f-O3FxKcJwEhLEaocXP7Ao"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4832,
        2096
      ],
      "id": "412b43f1-14b9-4770-9754-73823c0234fe",
      "name": "get person2"
    },
    {
      "parameters": {
        "jsCode": "// Function to format dates to \"DD-MM-YYYY\" format\nconst formatDate = (dateString) => {\n  if (!dateString) return null;\n  const date = new Date(dateString);\n  \n  // Format as DD-MM-YYYY\n  const day = String(date.getDate()).padStart(2, '0');\n  const month = String(date.getMonth() + 1).padStart(2, '0');\n  const year = date.getFullYear();\n  \n  return `${day}-${month}-${year}`;\n};\n\n// n8n uses $input.all() to get incoming data\nconst items = $input.all();\nlet allResults = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Handle both array and single object cases\n  const leads = Array.isArray(data) ? data : [data];\n  \n  for (const lead of leads) {\n    // Transform tasks\n    const tasks = (lead.tasks || []).map(task => ({\n      id: task.id || null,\n      // created_by_name: task.created_by_name || null,\n      created_at: formatDate(task.created_at),\n      updated_at: formatDate(task.updated_at),\n      title: task.title || null,\n      description: task.description || null,\n      status: task.status || null,\n      due_date: formatDate(task.due_date)\n    }));\n\n    // Transform notes\n    const notes = (lead.notes || []).map(note => ({\n      id: note.id || null,\n      // created_by_name: note.created_by_name || null,\n      created_at: formatDate(note.created_at),\n      // updated_at: formatDate(note.updated_at),\n      title: note.title || null,\n      content: note.content || null\n    }));\n\n    // Transform company object - simplified as you suggested\n    const company = {\n      id: lead.company?.id || null,\n      name: lead.company?.name || null,\n      domain: lead.company?.domain || null,\n      employees: lead.company?.employees || null,\n      location: lead.company?.location || null,\n      linkedin: lead.company?.linkedin || null,\n      arr: lead.company?.arr || null,\n      icp: lead.company?.icp || false\n    };\n\n    allResults.push({\n      id: lead.id || null,\n      name: lead.name || null,\n      email: lead.email || null,\n      phone: lead.phone || null,\n      job_title: lead.job_title || null,\n      city: lead.city || null,\n      linkedin: lead.linkedin || null,\n      conversion_rate: lead.conversion_rate || null,\n      stage: lead.stage || null,\n      lead_type: lead.lead_type || null,\n      lead_source: lead.lead_source || null,\n      last_action: lead.last_action || null,\n      recommended_action: lead.recommended_action || null,\n      company: company,\n      activities: lead.activities || [],\n      tasks: tasks,\n      notes: notes\n    });\n  }\n}\n\n// Return as objects; n8n will wrap them in .json automatically\nreturn allResults;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5088,
        2096
      ],
      "id": "d61ebfc1-9e20-452d-a6e2-f85cb402e3bd",
      "name": "get impo values5"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "get person1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update person",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "contians value to lowercase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          },
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "contians value to lowercase1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        []
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "clean4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get important values1": {
      "main": [
        [
          {
            "node": "toon conv2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "toon conv2": {
      "main": [
        [
          {
            "node": "append tool name4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "clean3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "toon conv1": {
      "main": [
        [
          {
            "node": "append tool name1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "to TOON": {
      "main": [
        [
          {
            "node": "append tool name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "to TOON1": {
      "main": [
        [
          {
            "node": "append tool name2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "toon conv": {
      "main": [
        [
          {
            "node": "append tool name3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          },
          {
            "node": "If8",
            "type": "main",
            "index": 0
          },
          {
            "node": "need reason only",
            "type": "main",
            "index": 0
          },
          {
            "node": "If13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "not eligable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get voice file path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "get_text_only",
            "type": "main",
            "index": 0
          },
          {
            "node": "get text only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        []
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "append tool name": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "clean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "append tool name1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "append tool name2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "append tool name3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "append tool name4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "clean3": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "contians value to lowercase": {
      "main": [
        [
          {
            "node": "query people",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contians value to lowercase1": {
      "main": [
        [
          {
            "node": "query people2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "get voice file path": {
      "main": [
        [
          {
            "node": "groq STT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "groq STT": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze audio": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Analyze audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get person": {
      "main": [
        []
      ]
    },
    "create_person": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update person": {
      "main": [
        [
          {
            "node": "to TOON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get person1": {
      "main": [
        [
          {
            "node": "get impo values1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "query people": {
      "main": [
        [
          {
            "node": "toon conv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "query people2": {
      "main": [
        [
          {
            "node": "get important values1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clean4": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add tasks": {
      "main": [
        [
          {
            "node": "get impo values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get impo values1": {
      "main": [
        [
          {
            "node": "toon conv1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clean": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "create company",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "create_person2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "create company": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "mape input and output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "map tasks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "create_person2": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          },
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "to TOON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add tasks1": {
      "main": [
        [
          {
            "node": "clean1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add notes1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          },
          {
            "node": "If4",
            "type": "main",
            "index": 0
          },
          {
            "node": "drop output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "map notes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "drop output": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "map tasks": {
      "main": [
        [
          {
            "node": "add tasks1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "map notes": {
      "main": [
        [
          {
            "node": "add notes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mape input and output": {
      "main": [
        [
          {
            "node": "create_person",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "clean1": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "map tasks1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "map tasks1": {
      "main": [
        [
          {
            "node": "add tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "map notes1": {
      "main": [
        [
          {
            "node": "add notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "map notes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add notes": {
      "main": [
        [
          {
            "node": "get impo values2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "toon conv3": {
      "main": [
        [
          {
            "node": "append tool name5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge8": {
      "main": [
        [
          {
            "node": "toon conv3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get impo values": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get impo values2": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "append tool name5": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "get_text_only": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get text only": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "to TOON3": {
      "main": [
        [
          {
            "node": "Merge10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update person2": {
      "main": [
        [
          {
            "node": "to TOON3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "If11",
            "type": "main",
            "index": 0
          },
          {
            "node": "If12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add tasks2": {
      "main": [
        [
          {
            "node": "get impo values3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add notes2": {
      "main": [
        [
          {
            "node": "get impo values4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "map tasks2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "map tasks2": {
      "main": [
        [
          {
            "node": "add tasks2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "map notes2": {
      "main": [
        [
          {
            "node": "add notes2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If10": {
      "main": [
        [
          {
            "node": "map notes2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge9": {
      "main": [
        [
          {
            "node": "toon conv4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get impo values3": {
      "main": [
        [
          {
            "node": "Merge9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get impo values4": {
      "main": [
        [
          {
            "node": "Merge9",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          },
          {
            "node": "If10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge10": {
      "main": [
        [
          {
            "node": "Merge11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "toon conv4": {
      "main": [
        [
          {
            "node": "Merge10",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge11": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "need reason only": {
      "main": [
        [
          {
            "node": "Merge11",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If11": {
      "main": [
        [
          {
            "node": "update person2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "toon conv5": {
      "main": [
        [
          {
            "node": "Merge11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get person2": {
      "main": [
        [
          {
            "node": "get impo values5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get impo values5": {
      "main": [
        [
          {
            "node": "toon conv5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If13": {
      "main": [
        [
          {
            "node": "get person2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "YgQMQ2K8IXbIqztxtd-Mr"
  },
  "versionId": "a1b617a8-2b52-4ca3-b9f6-260411d46deb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "65d1a339b442578b9f48438a32f521de239e91fb025b2f8c26e5d9e359ded7b8"
  },
  "id": "t2etZt4J6Vm2uElZ",
  "tags": [
    {
      "updatedAt": "2026-01-21T11:31:34.385Z",
      "createdAt": "2026-01-21T11:31:34.385Z",
      "id": "e4ix3M1lJMuhr7l6",
      "name": "dev"
    },
    {
      "updatedAt": "2026-02-02T14:19:10.343Z",
      "createdAt": "2026-02-02T14:19:10.343Z",
      "id": "PtInofDqy6UoRVMg",
      "name": "voice"
    }
  ]
}