second-brain/second-brain-working-v1.json
{
  "name": "second-brain-working-v1",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "c94a5a96-5165-45a2-aa90-2216823dc4c5",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -2336,
        384
      ],
      "webhookId": "2abfdf7e-c1d4-4e80-a384-e65ec90a785d",
      "credentials": {
        "telegramApi": {
          "id": "sqhg2tmUTZEjGSGa",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "480aeb7e-51db-40b2-b267-9beafb242ff4",
                    "leftValue": "={{ JSON.parse($json.output).category }}",
                    "rightValue": "people",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7a4fd431-da9c-4e42-ac33-ada37acc50f6",
                    "leftValue": "={{ JSON.parse($json.output).category }}",
                    "rightValue": "projects",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "28be1271-abea-41f0-b91f-338c2c87fe12",
                    "leftValue": "={{ JSON.parse($json.output).category }}",
                    "rightValue": "ideas",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "955c765a-3f14-4077-a706-c62fac8e203d",
                    "leftValue": "={{ JSON.parse($json.output).category }}",
                    "rightValue": "admin",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c215843e-2267-4a09-aab7-b13b49872118",
                    "leftValue": "={{ JSON.parse($json.output).category }}",
                    "rightValue": "needsreview",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "db2af08e-86f9-445b-a283-e2c12aee68cb",
      "name": "Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1008,
        432
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "f2fbf211b5fe49e8b5cc6cf68138f96b",
          "mode": "id"
        },
        "title": "={{ JSON.parse($json.output).fields.title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{ JSON.parse($json.output).fields.name }}"
            },
            {
              "key": "Context|rich_text",
              "textContent": "={{ JSON.parse($json.output).fields.context }}",
              "selectValue": "Telegram"
            },
            {
              "key": "Follow-ups|rich_text",
              "textContent": "={{ JSON.parse($json.output).fields.followups }}"
            },
            {
              "key": "Last Touched|date",
              "date": "={{ $now.toFormat('DDDD') }}"
            },
            {
              "key": "Tags|multi_select",
              "multiSelectValue": "={{ JSON.parse($json.output).fields.tags.split(', ') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2b5424c2-5e62-4ce8-9526-50815a32cfc5",
      "name": "Notion People",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -480,
        64
      ],
      "credentials": {
        "notionApi": {
          "id": "MUQPH2wbr0FtcPyn",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "23fec6e4604241fd9e2254311b717715",
          "mode": "id"
        },
        "title": "={{ JSON.parse($json.logMessage).fields.title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Created At|date",
              "date": "={{ $now }}"
            },
            {
              "key": "Filed To|select",
              "selectValue": "={{ JSON.parse($json.logMessage).category }}"
            },
            {
              "key": "Confidence Score|number",
              "numberValue": "={{ JSON.parse($json.logMessage).confidence }}"
            },
            {
              "key": "Captured Text|title",
              "title": "={{ \n  (typeof $json.logMessage === 'string' ? JSON.parse($json.logMessage) : $json.logMessage).fields \n  ? Object.entries((typeof $json.logMessage === 'string' ? JSON.parse($json.logMessage) : $json.logMessage).fields)\n    .map(([k, v]) => `${k}: ${v}`).join('\\n') \n  : \"No data found\" \n}}"
            },
            {
              "key": "Status|select",
              "selectValue": "Success"
            }
          ]
        },
        "options": {}
      },
      "id": "7ddd59ca-9ab3-44f6-9624-fb1728c18e34",
      "name": "Inbox Log Receipt",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -288,
        64
      ],
      "credentials": {
        "notionApi": {
          "id": "MUQPH2wbr0FtcPyn",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=# AI Second Brain\n\n## Core Philosophy\nYou are the \"Sorter\" in an AI Second Brain system. Your goal is to offload the burden of organization from the user. You must process raw, frictionless thoughts captured by the user and route them into a structured memory system (Notion).\n\n## Your Mission\n1. **Analyze** the user's incoming message.\n2. **Categorize** it into one of four buckets: **People, Projects, Ideas, or Admin**.\n3. **Extract** relevant fields based on the specific database schemas below.\n4. **Evaluate** your confidence.\n\n---\n\n## Database Schemas & Mapping\n\n### 1. People (Relationships & Network)\n*Use this for: Contacts, context about individuals, follow-up reminders.*\n- **Title**: Appears at the top of the page and can be found via Quick Find.\n- **Name**: The person's name.\n- **Context**: Summary of who they are and the nature of the relationship.\n- **Follow-ups**: Specific items to remember for the next interaction.\n- **Tags**: Categories like \"Work,\" \"Personal,\" etc.\n\n### 2. Projects (Active Endeavors)\n*Use this for: Goals requiring multiple steps. Focus on actions.*\n- **Title**: Appears at the top of the page and can be found via Quick Find.\n- **Name**: Clear project title.\n- **Status**: Active, Waiting, Blocked, Someday, or Done.\n- **Next-Action**: A concrete, executable task (e.g., \"Email Sarah\").\n- **Notes**: Extracted context and details.\n\n### 3. Ideas (Insights & Aha! moments)\n*Use this for: Raw insights and creative thoughts.*\n- **Title**: Appears at the top of the page and can be found via Quick Find.\n- **Name**: A catchy/clear title.\n- **One-liner**: A single sentence capturing the core insight.\n- **Notes**: The full detailed thought.\n- **Tags**: Topic categories.\n\n### 4. Admin (Errands & Minor Tasks)\n*Use this for: One-off tasks or miscellaneous to-dos.*\n- **Title**: Appears at the top of the page and can be found via Quick Find.\n- **Name**: The task name.\n- **Due-Date**: If mentioned, extract the date. IT MUST BE IN ISO FORMAT CONVERT IT IF IT IS NOT.\n- **Status**: MUST be one of those: [\"Back Log\", \"Todo\", \"In Progress\", \"Complete\"] EXACTLY as they are fromated\n\n---\n\n## Response Logic & Output Format\n\nYou must return a JSON object. The structure depends on your **Confidence Score (0.0 - 1.0)**.\n\n### IF CONFIDENCE IS > 0.7:\nReturn the structured data for the chosen category and a success message.\n\n{\n  \"category\": \"people | projects | ideas | admin\",\n  \"confidence\": 0.95,\n  \"fields\": {\n    \"title\": \"title\",\n    \"relevant_field_1\": \"data\",\n    \"relevant_field_2\": \"data\"\n  },\n  \"message\": \"✅ Filed as [Category]: [Summary of what you did].\"\n}\n\n\n### IF CONFIDENCE IS <= 0.7:\nDo not attempt to file the data. Instead, ask for clarification.\n\n{\n  \"category\": \"needs_review\",\n  \"confidence\": 0.45,\n  \"fields\": {},\n  \"message\": \"❓ I'm not entirely sure how to file this. [Explain what was confusing]. Could you please clarify [tell the user what you want to clarify]?\"\n}\n\n\n## Constraints\n- **Frictionless**: Extract as much as possible from short, messy inputs.\n- **Must fill all the database fields**: if there is one you did not thought it is needed, keep it in the json and put its value to None.\n- **Action-Oriented**: Always prioritize \"Next Actions\" over vague intentions for Projects.\n- **No Markdown**: Return ONLY the raw JSON object without a code block.\n- **No Code Bllocks**: Return ONLY the raw JSON object, with no MD Code Block.\n- **Today's Date & Time**: always use Today's date and time, here is it {{ $now.toFormat('DDDD') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1728,
        432
      ],
      "id": "bb6ec1c3-0b20-48e6-8bf6-b4715844e45d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1680,
        640
      ],
      "id": "c6ce7664-0f6b-4420-bb74-49082936636b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TppyipaFrqXqvcLE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1003131045565",
        "text": "={{ $json.formattedMessage }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -528,
        912
      ],
      "id": "c7213e17-32f6-40ea-a175-22881c1ec7d2",
      "name": "Send a text message",
      "webhookId": "d759f298-5116-4557-8df1-5d46d243038e",
      "credentials": {
        "telegramApi": {
          "id": "sqhg2tmUTZEjGSGa",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a9e196c7-fd2f-4db6-8f32-2aacee34ca82",
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": -1003131045565,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2032,
        384
      ],
      "id": "49cbcbef-2237-404b-829e-563b6f7cd5a6",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Sorry you are not elegible to use this bot",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2048,
        672
      ],
      "id": "7fdc7cc0-58d8-4575-9641-d7401506d320",
      "name": "Send a text message1",
      "webhookId": "d759f298-5116-4557-8df1-5d46d243038e",
      "credentials": {
        "telegramApi": {
          "id": "sqhg2tmUTZEjGSGa",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  try {\n    // 1. Parse the string into a real JavaScript Object\n    let outputObj = JSON.parse(item.json.output);\n\n    // Helper function to clean strings (used for both keys and values)\n    const cleanString = (str, isKey = false) => {\n      if (typeof str !== 'string') return str;\n      \n      // Remove markdown chars and special symbols\n      // Added '-' to your regex as requested\n      let cleaned = str.replace(/[_*[\\]()~`>#'+\\-=|{}.!]/g, '');\n      \n      // If it's a key, make it lowercase\n      return isKey ? cleaned.toLowerCase().trim() : cleaned;\n    };\n\n    // 2. Recursive function to clean keys and values\n    const processObject = (obj) => {\n      if (typeof obj !== 'object' || obj === null) return obj;\n\n      // Handle Arrays\n      if (Array.isArray(obj)) {\n        return obj.map(item => processObject(item));\n      }\n\n      // Handle Objects\n      const newObj = {};\n      for (const key in obj) {\n        // Clean the key: lowercase and remove symbols\n        const newKey = cleanString(key, true);\n        \n        // Clean the value: \n        // If it's a nested object/array, recurse. Otherwise, clean as string.\n        if (typeof obj[key] === 'object' && obj[key] !== null) {\n          newObj[newKey] = processObject(obj[key]);\n        } else {\n          newObj[newKey] = cleanString(obj[key]);\n        }\n      }\n      return newObj;\n    };\n\n    // 3. Execute the cleaning\n    const cleanedResult = processObject(outputObj);\n\n    // 4. Put it back into string format\n    item.json.output = JSON.stringify(cleanedResult, null, 2);\n\n  } catch (e) {\n    console.log(\"Output was not a valid JSON string or processing failed\", e);\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1392,
        432
      ],
      "id": "403f6b6f-48bf-4146-8c62-3f41288cddd9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  try {\n    const data = JSON.parse(item.json.output);\n    \n    // 1. Format the Category for the Telegram message\n    let category = data.category === 'needsreview' ? 'Needs Review' : data.category;\n    \n    // 2. Build the message header lines\n    let headerLines = [\n      `Category: ${category}`,\n      `Confidence: ${data.confidence}`\n    ];\n    \n    // 3. Only add Due Date if it exists\n    if (data.fields && data.fields.duedate && data.fields.duedate.trim()) {\n      let rawDate = data.fields.duedate; // \"20250215\"\n      let formattedDate = `${rawDate.substring(0, 4)}-${rawDate.substring(4, 6)}-${rawDate.substring(6, 8)}`;\n      headerLines.push(`Due Date: ${formattedDate}`);\n    }\n    \n    // 4. Build the Telegram message (due date only appears if it exists)\n    const finalMessage = `<blockquote>${headerLines.join('\\n')}</blockquote>\n\n${data.message}`;\n\n    // 5. Log the EXACT raw JSON string from the output\n    const logMessage = item.json.output;\n\n    item.json.formattedMessage = finalMessage;\n    item.json.logMessage = logMessage;\n\n  } catch (e) {\n    item.json.formattedMessage = `Error parsing AI response: ${e.message}`;\n    item.json.logMessage = item.json.output || `Error parsing AI response: ${e.message}`;\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        432
      ],
      "id": "9bb1bf07-7014-4b37-914a-f4a6616bd3f3",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "6d5dfc774ef8419faa407f6ec7ea4495",
          "mode": "id"
        },
        "title": "={{ JSON.parse($json.output).fields.title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{ JSON.parse($json.output).fields.name }}"
            },
            {
              "key": "Status|select",
              "selectValue": "={{ JSON.parse($json.output).fields.status }}"
            },
            {
              "key": "Next Action|rich_text",
              "textContent": "={{ JSON.parse($json.output).fields.nextaction }}"
            },
            {
              "key": "Notes|rich_text",
              "textContent": "={{ JSON.parse($json.output).fields.notes }}"
            },
            {
              "key": "Timestamp|date",
              "date": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ac22e949-ac79-4a68-bcd8-5992a41e0893",
      "name": "Projects",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -512,
        272
      ],
      "credentials": {
        "notionApi": {
          "id": "MUQPH2wbr0FtcPyn",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "7c7ff70902b44f9a92ee6670971c4865",
          "mode": "id"
        },
        "title": "={{ JSON.parse($json.logMessage).fields.title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Created At|date",
              "date": "={{ $now }}"
            },
            {
              "key": "Filed To|select",
              "selectValue": "={{ JSON.parse($json.logMessage).category }}"
            },
            {
              "key": "Confidence Score|number",
              "numberValue": "={{ JSON.parse($json.logMessage).confidence }}"
            },
            {
              "key": "Captured Text|title",
              "title": "={{ \n  (typeof $json.logMessage === 'string' ? JSON.parse($json.logMessage) : $json.logMessage).fields \n  ? Object.entries((typeof $json.logMessage === 'string' ? JSON.parse($json.logMessage) : $json.logMessage).fields)\n    .map(([k, v]) => `${k}: ${v}`).join('\\n') \n  : \"No data found\" \n}}"
            },
            {
              "key": "Status|select",
              "selectValue": "Success"
            }
          ]
        },
        "options": {}
      },
      "id": "5a73f313-27b1-4233-9e7e-7ad253d548bd",
      "name": "Inbox Log Projects",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -304,
        272
      ],
      "credentials": {
        "notionApi": {
          "id": "MUQPH2wbr0FtcPyn",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "9f90a50e70da4aa2b0a1243b212cd383",
          "mode": "id"
        },
        "title": "={{ JSON.parse($json.output).fields.title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{ JSON.parse($json.output).fields.name }}"
            },
            {
              "key": "One-liner|rich_text",
              "textContent": "={{ JSON.parse($json.output).fields.oneliner }}",
              "selectValue": "Telegram"
            },
            {
              "key": "Elaboration/Notes|rich_text",
              "textContent": "={{ JSON.parse($json.output).fields.notes }}"
            },
            {
              "key": "Tags|multi_select",
              "multiSelectValue": "={{ JSON.parse($json.output).fields.tags.split(', ') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6be61936-c655-4f08-b72c-0a772fd737bf",
      "name": "Ideas",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -528,
        448
      ],
      "credentials": {
        "notionApi": {
          "id": "MUQPH2wbr0FtcPyn",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "ba7d69b1fe854778b2b62104422c0bfd",
          "mode": "id"
        },
        "title": "={{ JSON.parse($json.logMessage).fields.title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Created At|date",
              "date": "={{ $now }}"
            },
            {
              "key": "Filed To|select",
              "selectValue": "={{ JSON.parse($json.logMessage).category }}"
            },
            {
              "key": "Confidence Score|number",
              "numberValue": "={{ JSON.parse($json.logMessage).confidence }}"
            },
            {
              "key": "Captured Text|title",
              "title": "={{ \n  (typeof $json.logMessage === 'string' ? JSON.parse($json.logMessage) : $json.logMessage).fields \n  ? Object.entries((typeof $json.logMessage === 'string' ? JSON.parse($json.logMessage) : $json.logMessage).fields)\n    .map(([k, v]) => `${k}: ${v}`).join('\\n') \n  : \"No data found\" \n}}"
            },
            {
              "key": "Status|select",
              "selectValue": "Success"
            }
          ]
        },
        "options": {}
      },
      "id": "4eaf7b9a-0002-47d5-bc02-6ec7c9c46fac",
      "name": "Inbox Log Ideas",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -304,
        464
      ],
      "credentials": {
        "notionApi": {
          "id": "MUQPH2wbr0FtcPyn",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "d600d7ace73f4ac2a17f2776b412f5c7",
          "mode": "id"
        },
        "title": "={{ JSON.parse($json.output).fields.title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{ JSON.parse($json.output).fields.name }}"
            },
            {
              "key": "Due Date|date",
              "selectValue": "Telegram",
              "date": "={{ JSON.parse($json.output).fields.duedate }}"
            },
            {
              "key": "Status|status",
              "statusValue": "={{ JSON.parse($json.output).fields.status }}"
            }
          ]
        },
        "options": {}
      },
      "id": "47af939f-280e-4529-b035-4bea5a476449",
      "name": "Admin",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -512,
        688
      ],
      "credentials": {
        "notionApi": {
          "id": "MUQPH2wbr0FtcPyn",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "ebe64fa504b04c11b91918072f3d7754",
          "mode": "id"
        },
        "title": "={{ JSON.parse($json.logMessage).fields.title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Created At|date",
              "date": "={{ $now }}"
            },
            {
              "key": "Filed To|select",
              "selectValue": "={{ JSON.parse($json.logMessage).category }}"
            },
            {
              "key": "Confidence Score|number",
              "numberValue": "={{ JSON.parse($json.logMessage).confidence }}"
            },
            {
              "key": "Captured Text|title",
              "title": "={{ \n  (typeof $json.logMessage === 'string' ? JSON.parse($json.logMessage) : $json.logMessage).fields \n  ? Object.entries((typeof $json.logMessage === 'string' ? JSON.parse($json.logMessage) : $json.logMessage).fields)\n    .map(([k, v]) => `${k}: ${v}`).join('\\n') \n  : \"No data found\" \n}}"
            },
            {
              "key": "Status|select",
              "selectValue": "Success"
            }
          ]
        },
        "options": {}
      },
      "id": "994d67bd-74dd-46b4-b176-3c3e1217f3a0",
      "name": "Inbox Log Admin",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -304,
        704
      ],
      "credentials": {
        "notionApi": {
          "id": "MUQPH2wbr0FtcPyn",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1003131045565",
        "text": "={{ $json.formattedMessage }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        48
      ],
      "id": "77dd78dc-5185-4b4b-8a54-9407d5c5715b",
      "name": "Send a text message2",
      "webhookId": "d759f298-5116-4557-8df1-5d46d243038e",
      "credentials": {
        "telegramApi": {
          "id": "sqhg2tmUTZEjGSGa",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 3,
        "useDataOfInput": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        64,
        32
      ],
      "id": "e276f4bb-e34f-4bc1-9fbc-13a17bbfe57e",
      "name": "Merge"
    },
    {
      "parameters": {
        "chatId": "-1003131045565",
        "text": "={{ $json.formattedMessage }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        272
      ],
      "id": "e32b1fb4-659a-4fab-b21d-43d77b4b930f",
      "name": "Send a text message3",
      "webhookId": "d759f298-5116-4557-8df1-5d46d243038e",
      "credentials": {
        "telegramApi": {
          "id": "sqhg2tmUTZEjGSGa",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 3,
        "useDataOfInput": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        64,
        256
      ],
      "id": "f31cc276-e2a4-4915-bcc8-cc0f3ab4fbc8",
      "name": "Merge1"
    },
    {
      "parameters": {
        "chatId": "-1003131045565",
        "text": "={{ $json.formattedMessage }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        496
      ],
      "id": "9324c0c6-47e9-4237-b11a-b74f2fa8a12f",
      "name": "Send a text message4",
      "webhookId": "d759f298-5116-4557-8df1-5d46d243038e",
      "credentials": {
        "telegramApi": {
          "id": "sqhg2tmUTZEjGSGa",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 3,
        "useDataOfInput": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        64,
        480
      ],
      "id": "89722fe1-db2f-48b8-be74-35a79d38131f",
      "name": "Merge2"
    },
    {
      "parameters": {
        "chatId": "-1003131045565",
        "text": "={{ $json.formattedMessage }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        736
      ],
      "id": "1b3d0fec-9a8d-40db-8bb7-198f52dbf65a",
      "name": "Send a text message5",
      "webhookId": "d759f298-5116-4557-8df1-5d46d243038e",
      "credentials": {
        "telegramApi": {
          "id": "sqhg2tmUTZEjGSGa",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 3,
        "useDataOfInput": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        80,
        720
      ],
      "id": "d8d28006-5134-4907-adf4-b1fc6cab1e1e",
      "name": "Merge3"
    },
    {
      "parameters": {
        "model": "moonshotai/kimi-k2-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1808,
        640
      ],
      "id": "77ecf9ae-a239-45fe-98f3-9f32722ce2a2",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "VqxrwHahgVrPESe1",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Router": {
      "main": [
        [
          {
            "node": "Notion People",
            "type": "main",
            "index": 0
          },
          {
            "node": "Inbox Log Receipt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Projects",
            "type": "main",
            "index": 0
          },
          {
            "node": "Inbox Log Projects",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Ideas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Inbox Log Ideas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Admin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Inbox Log Admin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion People": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inbox Log Receipt": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Send a text message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Projects": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inbox Log Projects": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Ideas": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inbox Log Ideas": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Admin": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inbox Log Admin": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "75fc7011-43d4-4ece-8b67-1df782e8381c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "65d1a339b442578b9f48438a32f521de239e91fb025b2f8c26e5d9e359ded7b8"
  },
  "id": "PgHOO3CutNEcB7K-0CTS_",
  "tags": [
    {
      "updatedAt": "2026-01-21T11:29:38.960Z",
      "createdAt": "2026-01-21T11:29:38.960Z",
      "id": "ZQpoktxHr5TGIt0O",
      "name": "text only"
    }
  ]
}